<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>梨园智能商圈</title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <link rel="stylesheet" href="__PUBLIC__/seller/css/mui.min.css">
        <link rel="stylesheet" href="__PUBLIC__/seller/css/icons-extra.css">
        <link rel="stylesheet" href="__PUBLIC__/seller/css/common.css">
        <style type="text/css">
            .mui-card{
                background-color: #fff;
            }
            .seller_s{
                height:50%;width:4px;margin-right: 2px;background-color: #7cacff;
            }
            .item_list{
                margin: 4px 3%;background-color:none;width:94%;
            }
            .item_list_img{
                margin-bottom:4px; background-color: red;float: right;width: 70px;height:70px;
            }
            .item_list_word{
                height: 35px;;line-height: 35px;
            }
        </style>


        <script src="__PUBLIC__/seller/js/jquery-1.11.0.js"></script>
        <script src="__PUBLIC__/seller/js/mui.min.js"></script>
        <script type="text/javascript">
            //启用双击监听
            mui.init({
                gestureConfig: {
                    doubletap: true
                },
            });
        </script>
        {$Assigndata}
        <link rel="stylesheet" href="__PUBLIC__/seller/css/common.css">
        <script type="text/javascript" src="__PUBLIC__/seller/js/common.js"></script>
        <script type="text/javascript" src="__PUBLIC__/seller/js/goods_detail.js"></script>
    </head>

    <body>

        <!--头栏-->
        <header class="mui-bar mui-bar-nav header-a-l">
            <a class="mui-icon mui-icon-back mui-pull-left header-a-l" onclick="aHref('__MODULE__/goods/goods_manage')"></a>
             <h1 class="mui-title header-a-l">积分商品详情</h1>
        </header>

        <!--主体部分-->

        <div class="mui-content" style="padding-top: 45px;background-color: #fefefe;">

            <div class="mui-card">
                <div class="mui-card-header">
                    <div class="mui-card-link"><div class="seller_s"></div>{$data.goodsInfo.goods_name}</div>
                    <p class="mui-card-link">
                        <if condition="$data['goodsInfo']['status'] eq 1">
                            <button class="mui-btn mui-btn-danger mui-btn-outlined" onclick="lowerFrame('{$data.goodsInfo.id}', 2)">下线</button>
                        <elseif condition="$data['goodsInfo']['status'] eq 0"/>
                            <button class="mui-btn mui-btn-success mui-btn-outlined" onclick="lowerFrame('{$data.goodsInfo.id}', 1)">发布</button>
                        <else/>
                            已下线
                        </if>
                    </p>
                </div>
                <div class="mui-card-content">
                    <div class="item_list">
                        <div class="item_list_img">
                            <img src="/{$data.goodsInfo.goods_pic}" style="width:70px;height:70px;"/>
                        </div>
                        <div class="item_list_word">
                            <span class="fontred">
                                <if condition="$data['goodsInfo']['cat_id'] eq 2">
                                   {$data.goodsInfo.required_integral}积分
                                <else/>
                                    ￥{$data.goodsInfo.payment_amount}元+{$data.goodsInfo.required_integral}积分
                                </if>
                            </span>
                        </div>
                        <div class="item_list_word">
                            <span class="font666">
                                原价：￥{$data.goodsInfo.original_price}元
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="mui-card">
                <div class="mui-card-header">
                    <div class="mui-card-link"><div class="seller_s"></div>商品详情</div>
                </div>
                <div class="mui-card-content">
                    <div class="mui-card-content-inner font666">
                        {$data.goodsInfo.goods_detail}
                    </div>
                </div>
            </div>

            <div class="mui-card">
                <div class="mui-card-header">
                    <div class="mui-card-link"><div class="seller_s"></div>兑换规则</div>
                </div>
                <div class="mui-card-content">
                    <div class="mui-card-content-inner font666">
                        库存：{$data.goodsInfo.stock}&#12288;每个用户限购：
                        <if condition="$data.goodsInfo.user_exchange_limit eq '0'">
                            (不限购)
                            <else/>
                            {$data.goodsInfo.user_exchange_limit}
                        </if>
                        
                    </div>
                </div>
            </div>

            <div class="mui-card">
                <div class="mui-card-header">
                    <div class="mui-card-link"><div class="seller_s"></div>使用须知</div>
                </div>
                <div class="mui-card-content">
                    <div class="mui-card-content-inner font666">
                        {$data.goodsInfo.use_of_knowledge}
                    </div>
                </div>
            </div>

            <div class="mui-card">
                <div class="mui-card-header">
                    <div class="mui-card-link"><div class="seller_s"></div>兑换记录</div>
                    <p class="mui-card-link">共兑换{$data.exchangeCount}次</p>
                </div>
                <div class="mui-card-content">
                    <div class="mui-row">
                        <ul class="mui-table-view">
                            <foreach name="data.exchangeLists" item="exchange">
                            <li class="mui-table-view-cell" onclick="aHref('__MODULE__/trading/trading_detail/exchange_id/{$exchange.id}/fromUrl/goodsDetail')">
                                <a class="mui-navigate-right">
                                    <span class="mui-badge mui-badge-danger">消费：{$exchange.exchange_integral}分</span>
                                    {$exchange.realname}
                                </a>
                            </li>
                            </foreach>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</body>

</html>
