<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>智慧社区积分商城</title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <link rel="stylesheet" href="__PUBLIC__/appm/css/mui.min.css">
        <link rel="stylesheet" href="__PUBLIC__/appm/css/icons-extra.css">
        <link rel="stylesheet" href="__PUBLIC__/seller/css/common.css">
        <style type="text/css">
            .mui-card{
                background-color: #fff;
            }
            .seller_s{
                height:50%;width:4px;margin-right: 2px;background-color: #7cacff;
            }
            .item_list{
                margin: 4px 3%;background-color:none;width:94%;
            }
            .item_list_img{
                background-color: red;float: right;width: 70px;height: 70px;
            }
            .item_list_word{
                height: 35px;;line-height: 35px;
            }
        </style>


        <script src="__PUBLIC__/appm/js/jquery-1.11.0.js"></script>
        <script src="__PUBLIC__/appm/js/mui.min.js"></script>
        <script type="text/javascript">
            //启用双击监听
            mui.init({
                gestureConfig: {
                    doubletap: true
                },
            });
        </script>
        {$Assigndata}
        <link rel="stylesheet" href="__PUBLIC__/appm/css/common.css">
        <script type="text/javascript" src="__PUBLIC__/appm/js/common.js"></script>
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.3&ak=woXSx1cEZqVgwpMkc8bgVzQZ4xHq1IU8"></script>
    </head>

    <body>

        <!--头栏-->
        <header class="mui-bar mui-bar-nav header-a-l">
            <a class="mui-icon mui-icon-back mui-pull-left header-a-l" onclick="aHref('__MODULE__/SellerIntegralGoods/item_list')"></a>
            <h1 id="title" class="mui-title header-a-l">商家详情</h1>
        </header>

        <!--主体部分-->

        <div class="mui-content" style="padding-top: 45px;background-color: #fefefe;">

            <div class="mui-card">
                <div class="mui-card-header">
                    <div class="mui-card-link"><div class="seller_s"></div>{$sellerInfo.name}</div>
                    <p class="mui-card-link">
                        <button type="button" class="mui-btn-primary mui-btn-outlined">反馈</button>
                    </p>
                </div>
                <div class="mui-card-content">
                    <div class="mui-card-content-inner">
                        <div class="item_list">
                            <div class="item_list_word">
                                <span class="font16">地址：{$sellerInfo.address}</span>
                            </div>
                            <div id="allmap" style="width:100%;height:200px;background-color: red;">

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="mui-card">
                <div class="mui-card-header">
                    <div class="mui-card-link"><div class="seller_s"></div>本店积分商品</div>
                </div>
                <div class="mui-card-content">
                    <div id="goods-lists">
                        <!--列表为空-->
                        <empty name="goodsList">
                            <div class="mui-card">
                                <div class="mui-card-content" style="text-align:center;">
                                    <span class="font888">暂无数据</span>
                                </div>
                            </div>
                        </empty>
                        <!--列表非空-->
                        <notempty name="goodsList">
                            <foreach name="goodsList" item="v" key="k">

                                <div class="mui-card" onclick="aHref('__MODULE__/SellerIntegralGoods/goods_detail?id={$v.id}')">
                                    <div class="mui-card-content">
                                        <div class="item_list">
                                            <div class="item_list_img">
                                                <img src="../../../{$v.goods_pic}" style="width:70px;height:70px;">
                                            </div>
                                            <div class="item_list_word">
                                                <span class="">{$v.goods_name}</span>
                                            </div>
                                            <div class="item_list_word">
                                                <span class="fontred">
                                                    <if condition="$v.payment_amount eq 0.00">
                                                        {$v.required_integral}积分
                                                        <else/>
                                                        ￥{$v.payment_amount}元+{$v.required_integral}积分
                                                    </if>
                                                </span>
                                                <span class="font888">原价：￥{$v.original_price}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </foreach>
                        </notempty>  
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>

<script type="text/javascript" src="/Public/appm/js/baiduMap.js"></script>
<script type="text/javascript">
            //百度地图
            baiduMap('{$sellerInfo.address_api_url}');
</script>
