<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {$Think.const.ADMIN_META}{$Think.const.ADMIN_CSS}{$Think.const.ADMIN_COMPATIBLE}{$Think.const.ADMIN_JS}{$Assigndata}{$Think.const.DATEPICKER}
    <link rel="stylesheet" href="/Public/admin/css/common.css">
    <script type="text/javascript" src="/Public/Plugin/layer-v3.0.2/layer.js"></script>
    <script type="text/javascript" src="/Public/admin/js/common.js"></script>
    <script type="text/javascript" src="/Public/admin/js/seller/sellerOrderInfo.js"></script>
</head>
<body>
    <div class="option_search" style="border-bottom: 1px solid #CCCCCC;padding-bottom: 10px;">
        <form method="get" class="form-inline" role="form" action="__CONTROLLER__/showList">
            <div>
                <h3 style="color: #3bc3cb;"><input type="text" name="seller_name" value="{$searchInfo.seller_name}" style="width: 150px;border:0px;" readonly/>
                    <small>订单列表</small>
                </h3>
            </div>
            <input type="hidden" name="seller_id" value="{$searchInfo.seller_id}"/>
            <div class="form-group">
                <label for="order_no" class="control-label">订单编号</label>
                <input type="text" class="form-control" id="order_no" name="order_no" value="{$searchInfo.order_no}" placeholder="请输入订单编号">
            </div>
            <div class="form-group">
                <label for="add_time" class="control-label">下单时间</label>
                <input type="text" class="form-control" id="add_time" name="add_time" value="{$searchInfo.add_time}" placeholder="请选择时间">
            </div>
            <div class="form-group">
                <label for="deal_type" class="control-label">订单状态</label>
                <select class="form-control" id="deal_type" name="deal_type" value="{$searchInfo.deal_type}">
                    <option value="">--订单状态--</option>
                    <option value="1">已提交</option>
                    <option value="2">处理中</option>
                    <option value="3">交易完成</option>
                    <option value="0">取消</option>
                </select>
            </div>
            <button type="sumbit" class="btn btn-success" id="searchInfo-btn" style="height: 34px;">
                <span class="glyphicon glyphicon-search"></span> 搜索
            </button>
        </form>
    </div>
    <div class="table_content">
        <table class="table table-hover">
            <notempty name="infoList">
                <foreach name="infoList" item="v" key="k">
                    <tr class="tr">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion"
                                           href="#collapse{$v.id}" onclick="showOrderItemsList({$v.id})">订单编号：{$v.order_no}
                                        </a>
                                        <span style="margin-left: 20px;">下单时间：{$v.add_time}</span>
                                        <span style="margin-left: 20px;">买家：{$v.usr}</span>
                                        <span style="float: right;">订单状态：
                                            <if condition="$v.deal_type eq 0">取消
                                                <elseif condition="$v.deal_type eq 1"/>已提交
                                                <elseif condition="$v.deal_type eq 2"/>处理中
                                                <else/>交易完成
                                            </if>
                                        </span>
                                    </h4>
                                </div>
                                <div id="collapse{$v.id}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div>
                                            <span>收货地址：{$v.address}</span>
                                            <span style="margin-left: 20px;">支付方式：
                                                <if condition="$v.pay_type eq 0">自提付款
                                                    <else/>货到付款
                                                </if>
                                            </span>
                                            <span style="margin-left: 20px;">配送方式：
                                                <if condition="$v.send_type eq 0">店内自提
                                                    <else/>送货上门
                                                </if>
                                            </span>
                                            <span style="color: #ff210d;margin-left: 20px;">买家留言：{$v.buyer_note}</span>
                                        </div>
                                        <div style="margin-top: 5px;">
                                            <span>收货人姓名：{$v.realname}</span>
                                        </div>
                                        <div style="margin-top: 5px;">
                                            <span>收货人电话：{$v.tel}</span>
                                        </div>
                                    </div>
                                    <div id="items{$v.id}" class="panel-body">
                                    </div>
                                    <div class="panel-body">
                                        <div style="float: right;">
                                            <if condition="$v.deal_type neq 0 && $v.deal_type neq 3">
                                                <button class="btn btn-default del-btn" onclick="dealInfoLayer({$v.id})">
                                                    <span class="glyphicon glyphicon-inbox"></span> 处理订单
                                                </button>
                                                <else/>
                                                <button class="btn disabled del-btn">
                                                    <span class="glyphicon glyphicon-inbox"></span> 处理订单
                                                </button>
                                            </if>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                </foreach>
            </notempty>
            <empty name="infoList">
                <tr><td colspan="9">暂无数据</td></tr>
            </empty>
        </table>
        <div style="text-align: center;">{$page}</div>
    </div>
</body>
<script type="application/javascript">
    $(document).ready(function(){
        $('select[name="deal_type"]').find("option[value='{$searchInfo.deal_type}']").prop("selected",true);
        $('#add_time').datepicker({changeMonth:true,changeYear:true});
    });
</script>
</html>