<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <link rel="stylesheet" href="__PUBLIC__/app/css/mui.min.css">
        <link rel="stylesheet" href="__PUBLIC__/app/css/healthn_list.css">

        <script src="__PUBLIC__/app/js/jquery-1.11.0.js"></script>
        <script src="__PUBLIC__/app/js/mui.min.js"></script>
        <script type="text/javascript">
            //启用双击监听
            mui.init({
                gestureConfig: {
                    doubletap: true
                },
            });
        </script>
        {$Assigndata}
        <link rel="stylesheet" href="__PUBLIC__/app/css/common.css">
        <script src="__PUBLIC__/app/js/common.js"></script>
        <script src="__PUBLIC__/app/js/healthn_list.js"></script>
    </head>

    <body style="background-color: #fff">
         <!--右上角弹出菜单-->
        <div id="popover" class="mui-popover" style="width:150px;" >
            <ul class="mui-table-view" id="healthnCat">
            </ul>
        </div>
        <header class="mui-bar mui-bar-nav">
            <a class="mui-icon mui-icon-back mui-pull-left header-a-l" onclick="aHref('__MODULE__/index/main')">
                <sapn class="comfont">健康服务</span>
            </a>
            <div class="mui-title .mui-input-search header-ss-div"><input id="keyword" class="mui-input-clear" placeholder="请输入关键字搜索查询" type="search" style="width: 70%;height: 30px;margin: 0px;background-color: #fff;"></div>
            <a class="mui-icon  mui-icon-search mui-pull-right header-a" onclick="keyWordSelect(0)" id="searchBtn"></a>

            <!--选项卡-->
            <div class="mui-input-row" style="background-color: #fff;">
                <div class="tab-div" id="tabWuye">
                    <div class="tab-btn-no" onclick="aHref('__CONTROLLER__/health_list')">体检记录</div>
                    <div class="tab-btn-no" onclick="aHref('__CONTROLLER__/health_stat')">健康分析</div>
                    <div class="tab-btn-sel" onclick="aHref('__CONTROLLER__/healthn_list')">健康知识</div>
                    <a href="#popover" id="openPopover" class="mui-btn mui-btn-warning" style="margin: -6px 5px 0px 2px;width: 100px;height: 38px;font-size: 15px;">全部类别<span class="mui-icon mui-icon-arrowdown" style="margin-top: -7px;"></span></a>
                </div>
            </div>
        </header>
        <!--主体部分-->
        <div class="mui-content" style="margin-top: 38px;background-color: #fff;">
            <div class="mui-card" style="margin-bottom: 40px;">
                <!--内容区-->
                <div class="mui-card-content">
                    <ul class="mui-table-view" id="healthnList">
<!--                        <li class="mui-table-view-cell" style="padding-right: 10px;">
                            <div class="mui-media-body">
                                <img src="img/xd.png" />&#12288;【科学建议】&#12288;第1条科学建议
                                <span class="mui-ellipsis" style="float: right;color: #999;font-size:14px;">12:35</span>
                                <div class="listcontent">
                                    <div class="listimg"><img src="img/cs.jpg"></div>
                                    <div class="listinfo">
                                        <p>发生了的积分卡</p>
                                    </div>
                                </div>
                            </div>
                            <div class="listfooter"><span>浏览45次</span></div>
                        </li>-->
                    </ul>
                </div>
                <div class="mui-card-footer" style="padding: 0px;">
                    <button id="loadMore" type="button" data-loading-icon="mui-spinner mui-spinner-custom" style="border:0px;width: 100%;color:#999;padding: 12px 0px;" class="mui-btn" sth onclick="loadMore()"></button>
                    <input type="hidden" id="page" value="1">
                </div>

            </div>
            
            <!--底部广告浮动-->
            <div class="mui-bar mui-bar-tab footer-div">
                预约电话：<span style="color: #17515b;"><b>010-114/116114</b></span>&#12288;|&#12288;
                <!--<button type="button" class="mui-btn mui-btn-royal  mui-btn-outlined" style="padding: 3px;">点击立刻预约</button>-->
                <span style="color: #17515b;" onclick="openModal()"><b>北京市预约挂号统一平台</b></span>
            </div>
            <!--弹出窗-->
            <div class="m-modal-if" style="z-index: 9999999;">
                <div style="width: 100%;height: 40px;background-color: #000;color: #fff;font-size: 16px;line-height: 40px;"><span class="mui-icon mui-icon-closeempty" style="margin: 0 10px;"></span>北京市预约挂号统一平台</div>
                <div style="width:100%;height: 100%;background-color: #fff;">
                    <iframe name="right" id="rightMain" src="http://www.bjguahao.gov.cn/index.htm" frameborder="no" scrolling="auto" width="100%" height="100%" allowtransparency="true"></iframe>
                </div>
            </div>
        </div>
    </body>
</html>