<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>我的活动</title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="x-rim-auto-match" content="none">

        <link rel="stylesheet" href="__PUBLIC__/appm/css/mui.min.css" type="text/css"/>
        <link rel="stylesheet" href="__PUBLIC__/appm/css/icons-extra.css" type="text/css"/>
        <link rel="stylesheet" href="__PUBLIC__/appm/css/common.css" type="text/css"/>
        <style type="text/css">
            .mui-table-view{
                margin: 10px 0;
            }
            .row_btn6{
                width: 50%;height: 100%;font-size: 15px;float: left;border: 0px;
            }
        </style>

        <script src="__PUBLIC__/appm/js/jquery-1.11.0.js"></script>
        <script src="__PUBLIC__/appm/js/mui.min.js"></script>
        <script type="text/javascript">
            //启用双击监听
            mui.init({
                gestureConfig: {
                    doubletap: true
                },
            });
        </script>
        {$Assigndata}
        <link rel="stylesheet" href="__PUBLIC__/appm/css/common.css">
        <script src="__PUBLIC__/appm/js/common.js"></script>
    </head>

    <body>
        <!--头栏-->
        <header class="mui-bar mui-bar-nav header-a-l">
            <a class="mui-icon mui-icon-back mui-pull-left header-a-l" onclick="aHref('__MODULE__/index/setting')"></a>
            <h1 class="mui-title header-a-l">我的活动</h1>	
        </header>

        <!--主体部分-->
        <div class="mui-content">
            <div class="mui-row">
                <ul class="mui-table-view mui-table-view-chevron">
                    <li class="mui-table-view-cell mui-media">
                        <a class="mui-navigate-right" >
                            <img class="mui-media-object mui-pull-left head-img" id="head-img" src="__PUBLIC__/appm/img/tx_icon/4.jpg">
                            <div class="mui-media-body">
                                张晓炜&#12288;[云景东里]
                                <p class='mui-ellipsis'>收藏：10&#12288;参加：20&#12288;积分：6100</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="mui-row">
                <div class="tab-div" id="tabWuye">
                    <button id="wuye1" type="button" class="mui-btn row_btn6" onclick="changeTab(1, 0, 2, '报修')">收藏的活动</button>
                    <button id="wuye2" type="button" class="mui-btn row_btn6" onclick="changeTab(2, 0, 1, '反馈')">参加的活动</button>
                </div>
            </div>

            <div class="mui-row">
                <ul class="mui-table-view" id="activityList">
                    <div class="mui-card">
                        <div class="mui-card-header mui-card-media" style="height:40vw;position:relative;background-image:url(/Public/Upload/activity/2018-04-11/5acd833d494d2.PNG)" onclick="getActivDetail(' + data.data[i]['id'] + ')">
                            <div class="p-modal"><div class="p-modal-div"><h4><i>已结束</i></h4></div></div>
                        </div>
                        <div class="mui-card-content">
                            <div class="mui-card-content-inner">
                                <p style="color: #000;font-size:1.1em;" onclick="getActivDetail()">【公益】放假啊看了电视剧分开拉就是打飞机阿斯利的空间看来飞机阿斯利的空间</p>
                                <div>
                                    <span class="mui-badge mui-badge-primary" style="float: left;">300分</span>
                                    <span>&#12288;云景东里/2018.09.12</span>
                                    <span style="float: right;"><span class="mui-icon mui-icon-extra mui-icon-extra mui-icon-extra-heart font14"></span><span id="like_num">0</span>人收藏</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <!--页面主内容区结束-->
    </body>

</html>