<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <link rel="stylesheet" href="__PUBLIC__/app/css/mui.min.css">

        <script src="__PUBLIC__/app/js/jquery-1.11.0.js"></script>
        <link rel="stylesheet" href="__PUBLIC__/app/css/common.css">
        <script src="__PUBLIC__/app/js/mui.min.js"></script>
        <script type="text/javascript">
            //启用双击监听
            mui.init({
                gestureConfig: {
                    doubletap: true, //双击关闭
                }
            });
        </script>
        {$Assigndata}
        <script src="__PUBLIC__/app/js/common.js"></script>
        <script src="__PUBLIC__/app/js/notice_list.js"></script>

    </head>

    <body id="body">
        <!--右上角弹出菜单-->
        <!--<div id="popover" class="mui-popover" style="width:150px;">
                <ul class="mui-table-view">
                        <li class="mui-table-view-cell">
                                <a href="#" class="mui-icon mui-icon-home mui-pull-left" onclick="aHome()">
                                        <span style="font-size: 14px;padding-left: 5px;">返回首页</span>
                                </a>
                        </li>
                        <li class="mui-table-view-cell">
                                <a href="#" class="mui-icon mui-icon-person mui-pull-left" onclick="aHref('setting')">
                                        <span style="font-size: 14px;padding-left: 5px;">个人中心</span>
                                </a>
                        </li>
                        <li class="mui-table-view-cell">
                                <a href="#" class="mui-icon mui-icon-mui-icon mui-icon-chatboxes mui-pull-left" onclick="aHref('order_manage')">
                                        <span style="font-size: 14px;padding-left: 5px;">订单管理</span>
                                </a>
                        </li>
                </ul>
        </div>-->
        <!--头栏-->
        <header class="mui-bar mui-bar-nav">
            <a class="mui-icon mui-icon-back mui-pull-left header-a-l" onclick="aHref('__MODULE__/index/main')">
                <sapn class="comfont">通知公告</span>
            </a>
            <div class="mui-title .mui-input-search header-ss-div"><input id="keyword" class="mui-input-clear" placeholder="请输入关键字搜索查询" type="search" style="width: 70%;height: 30px;margin: 0px;background-color: #fff;"></div>
            <a class="mui-icon mui-icon-search mui-pull-right header-a" id="searchBtn" onclick="keyWordSelect(0)"></a>
            <div class="mui-input-row" style="background-color: #fff;margin-top: 0px;">
                <div class="tab-div" id="tabNotice">
                    <div class="tab-btn-no" onclick="checkTab(0, 1, '')" id="notice0">未读消息</div>
                    <div class="tab-btn-sel" onclick="checkTab(1, 1, '')" id="notice1">已读消息</div>
                </div>
            </div>
        </header>
        <!--主体部分-->
        <div class="mui-content" style="margin-top: 40px; background-color: #fff;">

            <!--选项卡-->

            <!--list页面部分-->

            <ul class="mui-table-view" id="noticeList">

                <!--<li class="mui-table-view-cell" style="padding-right: 10px;">
                        <div class="mui-media-body">
                                <img src="img/xd.png" />&#12288;【公告】周四下午停水通知
                                <span class="mui-ellipsis" style="float: right;color: #999;font-size:14px;">12:35</span>
                                <p class="mui-ellipsis">能和心爱的人一起睡觉，是件幸福的事情；可是，打呼噜怎么办？</p>
                        </div>
                </li>-->
            </ul>
            <!--动态加载模块-->
            <button id="loadMore" type="button" data-loading-icon="mui-spinner mui-spinner-custom" style="border:0px;width: 100%;color:#999;padding: 12px 0px;" class="mui-btn" sth onclick="loadMore()"></button>
            <input type="hidden" id="page" value="1">
        </div>
    </body>

</html>