<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

<!--        <link href="__PUBLIC__/appm/css/mui.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="__PUBLIC__/appm/css/common.css">

        <script src="__PUBLIC__/appm/js/jquery-1.11.0.js"></script>
        <script src="__PUBLIC__/appm/js/mui.min.js"></script>-->
        <script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

        <script type="text/javascript">
            //启用双击监听
//            mui.init({
//                gestureConfig: {
//                    doubletap: true
//                },
//            });

            var obj = new WxLogin({
                self_redirect: true,
                id: "login_container",
                appid: "wx7e5a0f04c993739e",
                scope: "snsapi_login",
                redirect_uri: "http://lyznsq.qmtsc.com/index.php/appm",
                state: "123",
                style: "white",
                href: ""
            });
        </script>
        {$Assigndata}
<!--        <script src="__PUBLIC__/appm/js/common.js"></script>
        <script src="__PUBLIC__/appm/js/login.js"></script>-->
    </head>

    <body>
        <!--        <header class="mui-bar mui-bar-nav">
                    <h1 class="mui-title">登录</h1>
                </header>-->
        <!--<nav class="mui-bar login-bg">-->
        <div id="login_container">
            <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx542ee14049aa74e0&redirect_uri=http://lyznsq.qmtsc.com/index.php/appm/&response_type=code&scope=snsapi_userinfo&state=1#wechat_redirect" target="_blank">点击登陆</a>
            <!--<img src="__PUBLIC__/appm/img/logo.png">-->
        </div>
<!--        <div class="logo-form">
            <div class="login-ts"></div>
            <div class="login-user login-icon-user">
                <input type="text" class="login-input" id="tel" placeholder="请输入您的手机号" style="margin: 0px;background-color: #faffd7;border: 0;border-left: 2px solid #a7bf23;padding-top:0px;padding-bottom:0px;height: 30px;">
            </div>

            <div class="login-user login-icon-pwd">
                <input type="password" class="mui-input-password" id="loginPwd" placeholder="请输入您的密码" style="margin: 0px;background-color: #faffd7;border: 0;border-left: 2px solid #a7bf23;padding-top:0px;padding-bottom:0px;height: 30px;">
            </div>

            <div class="mui-button-row">
                <div class="login-btn" onclick="subLogin()">登录</div>
            </div>

            <div class="login-bz">
                <a href="javascript:void(0)" style="float: left;" onclick="aHref('__CONTROLLER__/register')">注册</a>
                <a href="javascript:void(0)" style="float: right;" onclick="aHref('__CONTROLLER__/findpwd')">忘记密码？</a>
            </div>
        </div>
        001jEuml1olZ8m0UWfkl186tml1jEumI
        <a href="https://api.weixin.qq.com/cgi-bin/token?grant_type=client_credential&appid=wx7e5a0f04c993739e&secret=510fd7ca5fb268fc06502e9861e00b69">获取token</a>
        <a href="https://open.weixin.qq.com/connect/qrconnect?appid=wx7e5a0f04c993739e&redirect_uri=http://lyznsq.qmtsc.com/index.php/appm/&response_type=code&scope=snsapi_login&state=123#wechat_redirect">授权</a>

        <a href="https://api.weixin.qq.com/sns/oauth2/access_token?appid=wx7e5a0f04c993739e&secret=510fd7ca5fb268fc06502e9861e00b69&code=001jEuml1olZ8m0UWfkl186tml1jEumI&grant_type=authorization_code">获取</a>
        <a href="https://api.weixin.qq.com/sns/userinfo?access_token=9_C8iRW2XTIgt_ulUnVP0efjvjWsM98QyO9Oy7EYppWq4-_8VW4wIIyNjgh_pJFC9ovY2LK5DjmO6rbWmt3JcwxQ&openid=ozF060wIC0F5P5GLlrfw0OEMpeGM">获取</a>

        </nav>
        <div class="mui-content-padded oauth-area">

        </div>-->
    </body>

</html>