

<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>梨园智能商圈</title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <link href="__PUBLIC__/appm/css/mui.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="__PUBLIC__/appm/css/common.css">

        <script src="__PUBLIC__/appm/js/jquery-1.11.0.js"></script>
        <script src="__PUBLIC__/appm/js/mui.min.js"></script>

        <script type="text/javascript">
            //启用双击监听
            mui.init({
                gestureConfig: {
                    doubletap: true
                },
            });
        </script>
        {$Assigndata}
        <script src="__PUBLIC__/appm/js/common.js"></script>
        <script src="__PUBLIC__/appm/js/login.js"></script>
    </head>

    <body>
        <div class="mui-content">
            <!--页面部分-->
            <div class="mui-card">
                <div class="mui-card-content">
                    <div class="mui-card-content-inner" style="text-align: center;">
                        <img src="{$headimgurl}" style="height:100px;width:100px; margin: 0 auto;">
                        <p>欢迎【{$nickname}】进入</p>
                        <p>您还不是梨园智能商圈社区卡电子用户</p>
                        <button type="button" class="mui-btn mui-btn-primary mui-btn-block" onclick="aHref('__CONTROLLER__/apply')">快速申请</button>
                        <button type="button" class="mui-btn mui-btn-block" onclick="aHref('__CONTROLLER__/wechat_binding')">已有社区卡账户，立即绑定</button>
                        
                        <button type="button" class="mui-btn-danger mui-btn-block" onclick="aHref('__CONTROLLER__/ys')">演示帐号</button>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>