/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-4-27, 16:12:19
    Author     : zzz
*/

.row_list{
    background-color: #fff;
    height:50px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.row_list_jp{
    background-size: 20px 30px;
    background-repeat: no-repeat;
    width: 20px;
    height: 50px;
    float: left;
}
.row_list_tx{
    float: left;
    background-color: #fff;
    width: 40px;
    height: 40px;
    margin: 5px;
    border:2px solid #fca1b3;
    border-radius: 4px;
    color:#f04a6b;

}
.row_list_tx img{
    background-size: 34px 34px;
    background-repeat: no-repeat;
    width:34px;
    height:34px;
    margin: 1px;
    border-radius: 2px;
}
.jp01{
    background-image:url(../img/jp01.png);
}
.jp02{
    background-image:url(../img/jp02.png);
}
.jp03{
    background-image:url(../img/jp03.png);
}

.row_list_title{
    float:left;
    line-height: 20px;
    margin-top: 5px;
    color:#f04a6b;
    font-size: 16px;
}
.row_list_integral{
    float:right;
    line-height: 50px;
    padding-right: 10px;
    color:#fe748d;
}