<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>公益排行榜单</title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <link rel="stylesheet" href="__PUBLIC__/dxt/css/mui.min.css" type="text/css"/>
        <link rel="stylesheet" href="__PUBLIC__/dxt/css/icons-extra.css" type="text/css"/>
        <link rel="stylesheet" href="__PUBLIC__/dxt/css/common.css" type="text/css"/>
        <link rel="stylesheet" href="__PUBLIC__/dxt/css/top.css" type="text/css"/>
        <style type="text/css">
            .top_card_hearder{
                height:54px;color:#fff;
            }
            .top_xh{
                width:38px;height:38px;border: 3px solid #fff;border-radius: 19px;text-align: center;line-height: 38px;
            }
            .color01{
                background-color: #ff9eb1;
            }
            .color02{
                background-color: #eacc2c;
            }
            .color03{
                background-color: #6fbcf2;
            }
            .color04{
                background-color: #daacf7;
            }
        </style>

        <script src="__PUBLIC__/dxt/js/jquery-1.11.0.js"></script>
        <script src="__PUBLIC__/dxt/js/mui.min.js"></script>
        <script type="text/javascript">
            //启用双击监听
            mui.init({
                gestureConfig: {
                    doubletap: true
                },
            });
        </script>
        {$Assigndata}
        <link rel="stylesheet" href="__PUBLIC__/dxt/css/common.css">
        <script src="__PUBLIC__/dxt/js/common.js"></script>
        <script src="__PUBLIC__/dxt/js/top_home.js"></script>
    </head>

    <body>
        <!--头栏-->
        <header class="mui-bar mui-bar-nav header-a-l">
            <h1 class="mui-title header-a-l">公益排行榜单</h1>	
        </header>
    <include file="./Application/Dxt/View/tabnav.html" />

    <!--主体部分-->
    <div class="mui-content">
        <!--页面部分-->
        <div class="mui-row">
            <div class="mui-card" onclick="aHref('__MODULE__/top/top_list?type=0')">
                <div class="mui-card-header top_card_hearder color01">
                    <div class="mui-card-link">
                        <div class="top_xh">
                            <h3>1</h3>
                        </div>
                        &#12288;本社区用户榜
                    </div>
                    <div class="mui-card-link">本季度</div>
                </div>
                <div class="mui-card-content">
                    <div class="mui-card-content-inner">
                        <foreach name="data.bUserList" item="v" key="k" >
                            <div class="mui-table">
                                <div class="mui-table-cell mui-col-xs-1">
                                    {$k+1}
                                </div>
                                <div class="mui-table-cell mui-col-xs-4 ">
                                    {$v.realname}
                                </div>
                                <div class="mui-table-cell mui-col-xs-4 ">
                                    {$v.bottom}
                                </div>
                                <div class="mui-table-cell mui-col-xs-3 mui-text-right">
                                    {$v.sign_integral}分
                                </div>
                            </div>
                        </foreach>
                    </div>
                </div>
            </div>
            <div class="mui-card" onclick="aHref('__MODULE__/top/top_list?type=1')">
                <div class="mui-card-header top_card_hearder color02">
                    <div class="mui-card-link">
                        <div class="top_xh">
                            <h3>2</h3>
                        </div>
                        &#12288;梨园镇用户榜
                    </div>
                    <div class="mui-card-link">本季度</div>
                </div>
                <div class="mui-card-content">
                    <div class="mui-card-content-inner">
                        <foreach name="data.allUserList" item="v" key="k" >
                            <div class="mui-table">
                                <div class="mui-table-cell mui-col-xs-1">
                                    {$k+1}
                                </div>
                                <div class="mui-table-cell mui-col-xs-4 ">
                                    {$v.realname}
                                </div>
                                <div class="mui-table-cell mui-col-xs-4 ">
                                    {$v.bottom}
                                </div>
                                <div class="mui-table-cell mui-col-xs-3 mui-text-right">
                                    {$v.sign_integral}分
                                </div>
                            </div>
                        </foreach>

                    </div>
                </div>
            </div>
            <div class="mui-card" onclick="aHref('__MODULE__/top/top_list?type=2')">
                <div class="mui-card-header top_card_hearder color03">
                    <div class="mui-card-link">
                        <div class="top_xh">
                            <h3>3</h3>
                        </div>
                        &#12288;商家排行榜
                    </div>
                    <div class="mui-card-link">本季度</div>
                </div>
                <div class="mui-card-content">
                    <div class="mui-card-content-inner">
                        <foreach name="data.sellerList" item="v" key="k" >
                            <div class="mui-table">
                                <div class="mui-table-cell mui-col-xs-1">
                                    {$k+1}
                                </div>
                                <div class="mui-table-cell mui-col-xs-4 ">
                                    {$v.name}
                                </div>
                                <div class="mui-table-cell mui-col-xs-7 mui-text-right">
                                    {$v.exchange_integral}分
                                </div>
                            </div>
                        </foreach>
                    </div>
                </div>
            </div>
            <div class="mui-card" onclick="aHref('__MODULE__/top/top_list?type=3')">
                <div class="mui-card-header top_card_hearder color04">
                    <div class="mui-card-link">
                        <div class="top_xh">
                            <h3>4</h3>
                        </div>
                        &#12288;社区排行榜
                    </div>
                    <div class="mui-card-link">本季度</div>
                </div>
                <div class="mui-card-content">
                    <div class="mui-card-content-inner">
                        <foreach name="data.commList" item="v" key="k" >
                            <div class="mui-table">
                                <div class="mui-table-cell mui-col-xs-1">
                                    {$k+1}
                                </div>
                                <div class="mui-table-cell mui-col-xs-4">
                                    {$v.com_name}
                                </div>
                                <div class="mui-table-cell mui-col-xs-7 mui-text-right">
                                    活动：{$v.activNum}场&#12288;签到：{$v.signNum}次
                                </div>
                            </div>
                        </foreach> 
                    </div>
                </div>
            </div>
        </div>
        <!--页面部分end-->
    </div>
</body>

</html>