<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {$Think.const.ADMIN_META}{$Think.const.ADMIN_CSS}{$Think.const.ADMIN_COMPATIBLE}{$Think.const.ADMIN_JS}{$Assigndata}
    <link rel="stylesheet" href="/Public/admin/css/common.css">
    <script type="text/javascript" src="/Public/admin/js/common.js"></script>
        <script type="text/javascript">
            $(function () {
                $('.main table').css({'width': '100%'});
                $('.main table').attr({'border': '1'});
                $('.main').html(img_reset_detail($('.main').html()));
                $('.main img').each(function () {
                    $(this).css({'width': '95%'});
                });
            });
        </script>
</head>
<body>
    <div class="detail_div">
        <div class="content">
            <h1>{$notice.title}</h1>
            <div class="time">
                发布时间：{$notice.add_time}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                发布人：{$notice.usr}
            </div>
            <div class="main">
                {$notice.content}
            </div>
        </div>
    </div>
</body>
</html>