<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>上传头像</title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <link rel="stylesheet" href="__PUBLIC__/seller/css/mui.min.css">
        <link rel="stylesheet" href="__PUBLIC__/seller/css/icons-extra.css">
        <link rel="stylesheet" href="__PUBLIC__/seller/css/common.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/seller/plugin/webuploader/webuploader.css">
        <style type="text/css">
            .seller_s{
                height:50%;width:4px;margin-right: 2px;background-color: #7cacff;
            }
            .item_list{
                margin: 4px 3%;background-color:none;width:94%;height:70px;
            }
            .item_list_img{
                background-color: red;float: right;width: 70px;height: 70px;
            }
            .item_list_word{
                height: 35px;;line-height: 35px;
            }
            .btnSub{
                position: relative;
                display: inline-block;
                cursor: pointer;
                background: #00b7ee;
                width: 80px;
                height: 30px;
                line-height: 30px;
                color: #fff;
                text-align: center;
                border-radius: 3px;
                overflow: hidden;
            }
        </style>


        <script src="__PUBLIC__/seller/js/jquery-1.11.0.js"></script>
        <script src="__PUBLIC__/seller/js/mui.min.js"></script>
        <script type="text/javascript">
            //启用双击监听
            mui.init({
                gestureConfig: {
                    doubletap: true
                },
            });
        </script>
        {$Assigndata}
        <link rel="stylesheet" href="__PUBLIC__/seller/css/common.css">
        <script type="text/javascript" src="__PUBLIC__/seller/js/common.js"></script>
        <script type="text/javascript" src="__PUBLIC__/seller/plugin/webuploader/webuploader.min.js"></script>
    </head>

    <body>

        <!--头栏-->
        <header class="mui-bar mui-bar-nav header-a-l">
            <a class="mui-icon mui-icon-back mui-pull-left header-a-l" onclick="aHref('__MODULE__/seller/my_info')"></a>
            <h1 class="mui-title header-a-l">上传头像</h1>
        </header>




        <div class="mui-content" style="padding-top: 45px;background-color: #fefefe;">

            <div class="mui-row">
                <div class="mui-card">
                    <!--内容区-->
                    <div class="mui-card-content">
                        <form id="form">

                            <div class="mui-input-row">
                                <!--<div class="m-inputheader">添加商品图</div>-->
                                <div class="m-inputframe">
                                    <div id="fileList" id="upload" class="uploader-list" style="width: 100%;height: 120px;background-color: #fff;border:1px solid #ccc;border-radius: 4px;padding: 10px;"></div>

                                    <div class="mui-button-row">
                                        <div id="filePicker" style="float:left">添加头像</div>
                                        <div type="button" style="float:right;" class="btnSub"  onclick="subForm()">上传</div>
                                    </div>
                                </div>

                            </div>

                        </form>

                    </div>

                </div>
            </div>

            <div class="mui-card">
                <img src="{$sellerInfo.tx_path}" style="width: 100%;height:auto;">
            </div>

        </div>
    </body>

</html>
<script type="text/javascript">
    $(document).ready(function () {
        checkIsLogin();
        if ($('#fileJson').text().length > 0) {
            var jsonObj = $.parseJSON($('#fileJson').text());
            if (jsonObj.length > 0) {
                var strHtml = '';
                $.each(jsonObj, function (index, value) {
                    strHtml += '<div id="WU_FILE_10' + index + '" class="file-item thumbnail" style="float:left;">';
                    strHtml += '<div style="width:100px;margin-right:10px;">';
                    strHtml += '<img src="/' + value.file_path + '" style="width:100px;height:70px;">';
                    strHtml += '<div class="del fontred font12" style="background-color:#bbb;width:100px;border-radius:2px;">删除</div>';
                    strHtml += '<input type="hidden" name="files[]" value="' + value.id + '" />';
                    strHtml += '</div></div>';
                });
                $('#fileList').append(strHtml);// $list为容器jQuery实例
            }
        }


        // 初始化Web Uploader
        var uploader = WebUploader.create({
            auto: true, // 选完文件后，是否自动上传。
            swf: '__PUBLIC__/admin/plugin/webuploader/Uploader.swf', // swf文件路径
            server: '__MODULE__/allattach/uploadAttach/module_name/tx_seller', // 文件接收服务端。
            // 选择文件的按钮。可选。内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#filePicker',
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            },
            duplicate: true//可重复上传
        });
        // 当有文件添加进来的时候
        uploader.on('fileQueued', function (file) {
            var $li = $('<div id="' + file.id + '" class="file-item thumbnail" style="float:left;"></div> ');
            var $img = $li.find('img');
            $('#fileList').append($li);// $list为容器jQuery实例
        });

        // 文件上传过程中创建进度条实时显示。
        uploader.on('uploadProgress', function (file, percentage) {
            var $li = $('#' + file.id);
            var $percent = $li.find('.progress span');
            $percent.css('width', percentage * 100 + '%');
        });

        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        uploader.on('uploadSuccess', function (file, response) {
            $file = $('#' + file.id);
            if (response.flag == 'success') {
                $file.append('<div style="width:100px;margin-right:10px;"><img src="/' + response.url + '" style="width:100px;height:70px;"><div class="del fontred font12" style="background-color:#bbb;width:100px;border-radius:2px;">删除</div><input type="hidden" name="files[]" value="' + response.att_id + '" /></div>');
                $file.css('background-img', 'url()');
                if ($('#input-title').val() == '') {
                    $('#input-title').val(file.name);
                }
            } else {
                upload_error(file, response);
            }
        });
        // 完成上传完了，成功或者失败，先删除进度条。
        uploader.on('uploadComplete', function (file) {
            $('#' + file.id).find('.progress').remove();
            uploader.removeFile(file.id);
        });

        function upload_error(file, response) {
            var $li = $('#' + file.id);
            $li.remove();
            $.messager.alert('上传错误', response.msg);
        }

        // 删除图片
        var $filelist = $('#fileList');
        $filelist.on('click', '.del', function (e) {
            $obj = $(this);
            $.post('__MODULE__/allattach/delAttach', {'id': $(this).next().val()}, function (result) {
                if (result.code == '500') {
                    var id = $obj.parent().attr('id');
                    if (typeof (id) != 'undefined') {
                        uploader.removeFile($obj.parent().attr('id'));
                    }
                    $obj.parent().parent().remove();
                }
            });
        });
    });

    function subForm() {
        $.post(c_path + '/saveTxInfo', {"form_data": $('#form').serialize()}, function (result) {
            if (result.is_success.flag == 1) {
                window.location.href = c_path + '/my_info';
            } else {

            }
        }, 'json');
    }
</script>