<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <title></title>

        <link rel="stylesheet" href="__PUBLIC__/appm/css/mui.min.css">
        <link rel="stylesheet" href="__PUBLIC__/appm/css/health_list.css">
        <script src="__PUBLIC__/appm/js/jquery-1.11.0.js"></script>
        <script src="__PUBLIC__/appm/js/mui.min.js"></script>
        <script type="text/javascript">
            //启用双击监听
            mui.init({
                gestureConfig: {
                    doubletap: true
                },
            });
        </script>
        {$Assigndata}
        <link rel="stylesheet" href="__PUBLIC__/appm/css/common.css">
        <script src="__PUBLIC__/appm/js/common.js"></script>

        <script type="text/javascript">
            $(function () {

            });
        </script>


    </head>
    <body >
        <!--右上角弹出菜单-->
        <div id="popover" class="mui-popover" style="width:150px;" >
            <ul class="mui-table-view" id="healthCat">
                <li class="mui-table-view-cell">
                    <a href="#" onclick="getStatOfCat(6)" style="text-align:center;">
                        <span style="font-size: 14px;">血糖</span>
                    </a>
                </li>
                <li class="mui-table-view-cell">
                    <a href="#" onclick="getStatOfCat(5)" style="text-align:center;">
                        <span style="font-size: 14px;">血氧</span>
                    </a>
                </li>
                <li class="mui-table-view-cell">
                    <a href="#" onclick="getStatOfCat(7)" style="text-align:center;">
                        <span style="font-size: 14px;">血压</span>
                    </a>
                </li>
                <li class="mui-table-view-cell">
                    <a href="#" onclick="getStatOfCat(9)" style="text-align:center;">
                        <span style="font-size: 14px;">身高体重</span>
                    </a>
                </li>
                <li class="mui-table-view-cell">
                    <a href="#" onclick="getStatOfCat(3)" style="text-align:center;">
                        <span style="font-size: 14px;">体温</span>
                    </a>
                </li>
<!--                <li class="mui-table-view-cell">
                    <a href="#" onclick="getStatOfCat(0)" style="text-align:center;">
                        <span style="font-size: 14px;">身高</span>
                    </a>
                </li>-->
            </ul>
        </div>
        <!--头栏-->
        <header class="mui-bar mui-bar-nav">
            <a class="mui-icon mui-icon-back mui-pull-left header-a-l" onclick="aHref('__MODULE__/index/main')">
            </a>
            <h1 class="mui-title" style="background-color: #9edee9;color: #FFFFFF;">格瑞雅居健康生活</h1>
            <a class="mui-icon  mui-icon-help mui-pull-right header-a" onclick="about()"></a>

            <!--选项卡-->
            <div class="mui-input-row" style="background-color: #fff;">
                <div class="tab-div" id="tabWuye">
                    <button type="button" style="margin: -6px 0px 0px 0px;width: 23%;height: 38px;font-size: 15px;float: left;border: 0px;" class="mui-btn" onclick="aHref('__CONTROLLER__/health_list')">体检记录</button>
                    <button type="button" style="margin: -6px 0px 0px 0px;width: 23%;height: 38px;font-size: 15px;float: left;border: 0px;color:#9edee9;" class="mui-btn" onclick="aHref('__CONTROLLER__/health_stat')">健康分析</button>
                    <button type="button" style="margin: -6px 0px 0px 0px;width: 23%;height: 38px;font-size: 15px;float: left;border: 0px;" class="mui-btn" onclick="aHref('__CONTROLLER__/healthn_list')">健康知识</button>
<!--                    <div class="tab-btn-no" onclick="aHref('__CONTROLLER__/health_list')">体检记录</div>
                    <div class="tab-btn-sel" onclick="aHref('__CONTROLLER__/health_stat')">健康分析</div>
                    <div class="tab-btn-no" onclick="aHref('__CONTROLLER__/healthn_list')">健康知识</div>-->
                    <a href="#popover" id="openPopover" class="mui-btn mui-btn-warning" style="margin: -6px 0px 0px 0px;width: 30%;height: 38px;font-size: 15px;"><span class="mui-icon mui-icon-arrowdown" style="margin-top: -7px;"></span></a>
                </div>

            </div>
        </header>
        <!--主题部分-->
        <div class="mui-content" style="margin-top: 44px;margin-bottom: 40px;background-color: #fff;">


            <!--页面部分-->
            <div class="mui-row">
                <div class="mui-card">
                    <!--页眉，放置标题-->
                    <div class="mui-card-header" style="background-color: #ededed;">

                        <button type="button" class="mui-btn" style="font-size: 15px;" id="is_end"><span class="mui-icon mui-icon-back" style="font-size: 20px;"></span></button>
                        <span id="chartTitle">血压状况分析</span>
                        <button type="button" class="mui-btn" style="font-size: 15px;" id="is_start"><span class="mui-icon mui-icon-forward" style="font-size: 20px;"></span></button>
                    </div>
                    <!--内容区-->
                    <div class="mui-card-content">
                        <div class="cardcontent" style="width:96%;height: auto;">
                            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

                        </div>
                    </div>
                </div>
            </div>
            <!--底部广告浮动-->
            <div class="mui-bar mui-bar-tab footer-div">
                <span style="color: #17515b;" onclick="callPhone(116114)"><b>010-114/116114</b></span>&#12288;|&#12288;
                <!--<button type="button" class="mui-btn mui-btn-royal  mui-btn-outlined" style="padding: 3px;">点击立刻预约</button>-->
                <span style="color: #17515b;" onclick="openModal()"><b>北京市预约挂号统一平台</b></span>
            </div>
            <!--弹出窗-->
            <div class="m-modal-if" style="z-index: 9999999;">
                <div style="width: 100%;height: 40px;background-color: #000;color: #fff;font-size: 16px;line-height: 40px;"><span class="mui-icon mui-icon-closeempty" style="margin: 0 10px;"></span>北京市预约挂号统一平台</div>
                <div style="width:100%;height: 100%;background-color: #fff;">
                    <iframe name="right" id="rightMain" src="http://www.bjguahao.gov.cn/index.htm" frameborder="no" scrolling="auto" width="100%" height="100%" allowtransparency="true"></iframe>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="__PUBLIC__/Plugin/Highcharts-5.0.0/js/highcharts.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Plugin/Highcharts-5.0.0/js/modules/exporting.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Plugin/Highcharts-5.0.0/js/highcharts-zh_CN.js"></script>
        <script src="__PUBLIC__/appm/js/health_stat.js"></script>
    </body>

</html>

