<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        {$Think.const.ADMIN_META}{$Think.const.ADMIN_CSS}{$Think.const.ADMIN_COMPATIBLE}{$Think.const.ADMIN_JS}{$Assigndata}
        <link rel="stylesheet" href="/Public/health/css/common.css">
        <script type="text/javascript" src="/Public/Plugin/layer-v3.0.2/layer.js"></script>
        <script type="application/javascript" src="/Public/health/js/common.js"></script>
        <script type="application/javascript" src="/Public/health/js/deviceinfo/deviceInfo.js"></script>
    </head>
    <body>
        <div class="option_search">
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-success" id="addCatLayer-btn" style="height: 34px;">
                        <span class="glyphicon glyphicon-plus"></span> 新增
                    </button>
                    <button type="button" class="btn btn-danger" id="delArrayCat-btn" style="height: 34px;">
                        <span class="glyphicon glyphicon-trash"></span> 批量删除
                    </button>
                </div>
            </div>

        </div>
        <div class="table_content">
            <table class="table table-hover">
                <tr>
                    <th style="width: 50px;">全选</th>
                    <th><input type="checkbox" name="allChecked" onclick="setAllChecked(this);"/></th>
                    <th>设备名称</th>
                    <th>设备类型</th>
                    <th>设备编号</th>
                    <th>添加时间</th>
                    <th>操作</th>
                </tr>
                <notempty name="infoList">
                    <foreach name="infoList" item="v" key="k">
                        <tr class="tr">
                            <td>{:(I('get.p'))?((I('get.p')-1)*C('PAGE_SIZE')+$k+1):($k+1)}</td>
                            <td><input type="checkbox" name="rowChecked" value="{$v.id}"/></td>
                            <td>{$v.name}</td>
                            <td>{$v.dtype}</td>
                            <td>{$v.did}</td>
                            <td>{$v.add_time}</td>
                            <td>
                                <div>
                                    <button class="btn btn-default edit-btn" onclick="editCatLayer({$v.id});">
                                        <span class="glyphicon glyphicon-edit"></span> 编辑
                                    </button>
                                    <button class="btn btn-default del-btn" onclick="delCatLayer({$v.id})">
                                        <span class="glyphicon glyphicon-trash"></span> 删除
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </foreach>
                </notempty>
                <empty name="infoList">
                    <tr><td colspan="7">暂无数据</td></tr>
                </empty>
            </table>
            <div style="text-align: center;">{$page}</div>
        </div>
    </body>
    <div class="catLayer" style="display: none;">
        <div class="container" style="width: 500px;">
            <div class="row">
                <form method="post" action="#" class="form-horizontal" id="form_data" style="margin-top: 20px;">
                    <input type="hidden" name="id" id="id" value=""/>
                    <div class="form-group">
                        <label for="cat_name" class="col-sm-2 control-label">设备名称</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name" name="name" value="" placeholder="请输入设备名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sys_name" class="col-sm-2 control-label">设备类型</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="dtype" value="" id="dtype" placeholder="请输入类型编号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sys_name" class="col-sm-2 control-label">设备编号</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="did" value="" id="did" placeholder="请输入设备编号">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</html>