<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <link rel="stylesheet" href="__PUBLIC__/appm/css/mui.min.css">
        <link rel="stylesheet" href="__PUBLIC__/appm/css/seller.css">
        <script src="__PUBLIC__/appm/js/mui.min.js"></script>
        <script type="text/javascript">
            //启用双击监听
            mui.init({
                gestureConfig: {
                    doubletap: true
                },
            });
        </script>
        {$Assigndata}
        <script src="__PUBLIC__/appm/js/jquery-1.11.0.js"></script>
        <link rel="stylesheet" href="__PUBLIC__/appm/css/common.css">
        <script src="__PUBLIC__/appm/js/common.js"></script>
        <script src="__PUBLIC__/appm/js/order_manage.js"></script>
    </head>

    <body>
        <!--头栏-->
        <header class="mui-bar mui-bar-nav">
            <a class="mui-icon mui-icon-back mui-pull-left header-a-l" onclick="aHref('__MODULE__/index/main')">
            </a>
            <h1 class="mui-title" style="background-color: #9edee9;color: #FFFFFF;">格瑞雅居健康生活</h1>
            <!--<div class="mui-title .mui-input-search header-ss-div"><input class="mui-input-clear" placeholder="请输入关键字搜索查询" type="search" style="width: 70%;height: 30px;margin: 0px;background-color: #fff;"></div>-->
            <a class="mui-icon  mui-icon-help mui-pull-right header-a" onclick="about()"></a>
        </header>
        <!--主体部分-->
        <div class="mui-content">

            <!--卡片-->
            <div class="mui-row">
                <div class="mui-card">
                    <div class="mui-card-content" id="orderList">

<!--                        <div class="order-m-list">
                            <div class="order-m-title">&#12288;<b>世纪华联超市</b><span class="fontred m-float-r m-margin-r15"><b>交易完成</b></span></div>
                            <div class="m-xjg"></div>
                            <div class="order-m-footer">

                                <span class="font12 fontblack m-float-l">订单号：237492492384</span>
                                <span class="font12 fontblack m-float-r">2017-02-23 12:00:00</span>
                            </div>
                            <div class="m-xjg"></div>
                            <div class="order-m-body">
                                <div class="order-m-item" style="background-image: url(img/cs.jpg);">
                                    <span class="font14 fontblack"><b>掉渣肉价膜纯瘦</b><b class="fontred">（￥8.0）</b></span><span class="m-float-r font16">x&#12288;2</span>
                                </div>
                            </div>
                            <div class="m-xjg"></div>
                            <div class="order-m-footer">
                                共&nbsp;<span class="fontred">4</span>&nbsp;件商品&#12288; 合计：&nbsp;
                                <span class="fontred">200</span>&nbsp;元
                            </div>
                        </div>-->

                    </div>
                    <!--动态加载模块-->
                    <button id="loadMore" type="button" data-loading-icon="mui-spinner mui-spinner-custom" style="border:0px;width: 100%;color:#999;padding: 12px 0px;" class="mui-btn" sth onclick="loadMore()"></button>
                    <input type="hidden" id="page" value="1">
                </div>
            </div>

        </div>
    </body>

</html>