/*评论列表*/
.pinglun-list{
	width:100%;
	height: auto;
	/*background-color: red;*/
	float: left;
}
.pinglun-title{
	width:100%;
	height: 40px;
	/*background-color: greenyellow;*/
	float: left;
}
.pinglun-content{
	width:auto;
	height: auto;
	/*background-color: greenyellow;*/
	float: left;
	margin: 10px 0px 0px 55px;
	margin-top: 10px;
}
.pinglun-title-img{
	width: 40px;
	height: 40px;
	float: left;
	border-radius: 20px;
	background-size: 40px;
}
.pinglun-title-img img{
	width: 40px;
	height: 40px;
}

.pinglun-title-title {
	width: auto;
	height: 40px;
	float: left;
}
