/**
 * 一刻钟生活圈的样式
 */
.info-div{
	width: 90%;
	height: auto;
	/*background-color: red;*/
	border-bottom: 1px dashed #9edee9;
	margin: 0 auto;
	line-height: 30px;
	text-indent: 2em;
	background-position: 1px 5px;
	background-repeat: no-repeat;
	background-size: 17px 20px;
}
.info-div p{
	text-indent: 2em;
}
.info-div b{
	text-indent: 2em;
}


/*产品列表*/

.item-list{
	width:94%;
	height: auto;
	/*background-color: red;*/
	float: left;
	margin: 0 3% 20px 3%;
	/*background-image: url(../img/cs.jpg);*/
    background-repeat: no-repeat;
    background-size: 120px 100px;
    border-bottom: 1px solid #ccc;
}

.item-title-title {
	width: auto;
	min-height: 90px;
	height: auto;
	float: left;
	/*background-color: gold;*/
	margin-left: 140px;
	margin-bottom: 10px;
}
.item-detail{
	width: 100%;
}
.price-btn{
	background-repeat: no-repeat;
	background-size: 20px 20px;
	width: 20px;
	height: 20px;
}
.price-numbox{
	margin-left: 30px;
	width: 80px;
	height:20px;
	border: 0;
	padding: 0;
	border-radius: 0;
}
.buy-div{
	background-color: #000000;
	height: 45px;
	padding: 0;
}
.buy-price{
	width: auto;
	height: 100%;
	/*background-color: red;*/
	margin-left: 25px;
	background-image: url(../img/jiaz.png);
	background-repeat: no-repeat;
	background-position: 0px 9px;
	background-size: 30px;
	padding-left: 36px;
	float: left;
	
}
.buy-price-num{
	color: #fff;
	line-height: 45px;
	font-size: 20px;
	float: left;
	margin-left: 30px;
}
.buy-btn{
	width: 100px;
	height: 45px;
	background-color: gold;
	opacity: 1;
	font-size: 18px;
	line-height: 45px;
	text-align: center;
}

/*订单模态框*/
.order-content{
	width: 80%;
	height: auto;
	margin-left: -40%;
	margin-top: -55%;
}
.order-content-title{
	/*width: 100%;*/
	height: 30px;
	margin: 5px 20px 0px 20px;
	/*background-color: red;*/
	text-align: center;
	line-height: 30px;
	color: #555;
}
.order-content-form{
	/*width: 100%;*/
	height: auto;
	margin: 10px 20px;
	/*background-color: red;*/
}

.order-jg{
	width: 100%;
	height: 4px;
	background-color: #ccc;
}
.order-address{
	width: 100%;
	height: auto;
	/*background-color: red;*/
	padding: 10px 20px 10px 20px;
	line-height: 20px;
	font-size: 12px;
}
.order-xjg{
	width: 100%;
	height: 1px;
	background-color: #ccc;
	margin: 10px 0px 10px 0px;
}
.order-item-list{
	width: 100%;
	height: 120px;
	/*background-color:red ;*/
	overflow-y: auto;
	overflow-x: hidden;
}
.order-item-info{
	width: 100%;
	height: 50px;
	/*background-color: gold;*/
	margin-bottom: 10px;
	background-size: 60px 50px;
	background-repeat:no-repeat;
	
}
.order-item-info-r{
	width: auto;
	min-height: 50px;
	height: auto;
	margin-left: 80px;
}
.order-numbox{
	margin-left: 20px;
	width: 80px;
	height:20px;
	border: 0;
	padding: 0;
	border-radius: 0;
}
.price-sum{
	text-align: right;
}
/*订单管理*/

.order-m-list{
	width: 100p%;
	height: auto;
	border-bottom: 8px solid #CFCFCF;
	
}
.order-m-title{
	width: 100%;
	height: 38px;
	background-image: url(../img/fuwu.png);
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-position: 4px 4px;
	/*background-color: gold;*/
	padding-left: 30px;
	line-height: 38px;
}
.order-m-body{
	padding: 5px 10px;
	width: 100%;
	/*background-color: green;*/
	min-height: 60px;
	height: auto;
	max-height: 220px;
	overflow-x:hidden ;
	overflow-y: auto;
}
.order-m-item{
	width: 100%;
	height: 50px;
	background-color:#EEEEEE;
	margin-bottom: 10px;
	background-repeat: no-repeat;
	background-size: 60px 50px;
	padding:0 20px 0 80px;
	line-height: 50px;
}
.order-m-footer{
	width: 100%;
	height: 30px;
	/*background-color: red;*/
	line-height: 30px;
	padding:0 10px;
	text-align: right;
	
}
