<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <link rel="stylesheet" href="__PUBLIC__/app/css/mui.min.css">
        <link rel="stylesheet" href="__PUBLIC__/app/css/seller.css">

        <script src="__PUBLIC__/app/js/jquery-1.11.0.js"></script>
        <script src="__PUBLIC__/app/js/mui.min.js"></script>
        <script type="text/javascript">
            //启用双击监听
            mui.init({
                gestureConfig: {
                    doubletap: true
                },
            });
        </script>
        {$Assigndata}
        <link rel="stylesheet" href="__PUBLIC__/app/css/common.css">
        <script src="__PUBLIC__/app/js/common.js"></script>
        <script src="__PUBLIC__/app/js/seller_info.js"></script>
    </head>

    <body>
        <!--模态框-->
        <div class="m-modal">

        </div>
        <div class="m-modal-content order-content">
            <div class="order-content-title">
                <b>确认订单</b>
            </div>
            <div class="order-jg"></div>
            <div class="order-address" id="orderAddr" style="display: none;">
                郭德纲&#12288;先生&#12288;&#12288;13866668888
                <div class="order-xjg"></div>
                北京市通州区玉带河东街286号
            </div>
            <div class="order-jg"></div>
            <div class="order-address">
                世纪华联超市
                <div class="order-xjg"></div>
                <div class="order-item-list" id="orderItemList">

                    <!--<div class="order-item-info" style="background-image: url(img/cs.jpg);">
                            <div class="order-item-info-r">
                                    <p class="font14 fontblack"><b>掉渣肉价膜纯瘦</b></p>
                                    <p class="fontblack m-float-l font16">￥8.0&nbsp;x5</p>
                                    <div class="mui-numbox order-numbox" data-numbox-step='1' data-numbox-min='0' data-numbox-max='99'>
                                            <button class="mui-btn mui-btn-numbox-minus price-btn" type="button" style="background-image: url(img/jian.png);width: 20px;height: 20px;"></button>
                                            <input class="mui-input-numbox" type="number" readonly="readonly" />
                                            <button class="mui-btn mui-btn-numbox-plus price-btn" type="button" style="background-image: url(img/jia.png);width: 20px;height: 20px;"></button>
                                    </div>
                            </div>
                    </div>-->

                </div>
                <div class="order-xjg"></div>
                <div class="font16 price-sum">
                    共&nbsp;<span class="fontred" id="count_num1">0</span>&nbsp;件商品&#12288; 总价：&nbsp;
                    <span class="fontred" id="sum_price1">0.0</span>&nbsp;元
                </div>

            </div>
            <div class="order-jg"></div>
            <div class="order-address">
                <input type="hidden" id="sendType" value="0"> 
                <ul class="mui-table-view mui-table-view-radio">
                    <li class="mui-table-view-cell" id="sm">
                        <a class="mui-navigate-right" onclick="getBuyerAddr(1)">送货上门</a>
                    </li>
                    <li class="mui-table-view-cell mui-selected" id="zt">
                        <a class="mui-navigate-right" onclick="getBuyerAddr(0)">店内自提</a>
                    </li>
                </ul>
                <div class="mui-input-row">
                    <label>备注</label>
                    <textarea type="text" class="mui-input-clear" placeholder="请填写备注" id="buyerNote"></textarea>
                </div>

            </div>
            <div class="order-jg"></div>
            <div class="order-address " style="text-align: center;">
                <button type="button" class="mui-btn mui-btn-primary" onclick="subOrder()">确认购买</button> &#12288;
                <button type="button" class="mui-btn mui-btn-danger" onclick="cancelOrder()">取消</button>
            </div>
        </div>
        <!--右上角弹出菜单-->
        <!--<div id="popover" class="mui-popover" style="width:150px;">
                <ul class="mui-table-view">
                        <li class="mui-table-view-cell">
                                <a href="#" class="mui-icon mui-icon-home mui-pull-left" onclick="aHome()">
                                        <span style="font-size: 14px;padding-left: 5px;">返回首页</span>
                                </a>
                        </li>
                        <li class="mui-table-view-cell">
                                <a href="#" class="mui-icon mui-icon-person mui-pull-left" onclick="aHref('setting')">
                                        <span style="font-size: 14px;padding-left: 5px;">个人中心</span>
                                </a>
                        </li>
                        <li class="mui-table-view-cell">
                                <a href="#" class="mui-icon mui-icon-mui-icon mui-icon-chatboxes mui-pull-left" onclick="aHref('order_manage')">
                                        <span style="font-size: 14px;padding-left: 5px;">订单管理</span>
                                </a>
                        </li>
                </ul>
        </div>-->
        <!--头栏-->
        <header class="mui-bar mui-bar-nav">
            <a class="mui-icon mui-icon-back mui-pull-left header-a-l" onclick="back()">
                <sapn class="comfont">商家信息</span>
            </a>
            <h1 id="title" class="mui-title" style="background-color: #9edee9;color: #FFFFFF;">格瑞雅居健康生活</h1>
            <!--<div class="mui-title mui-input-search header-ss-div"><input class="mui-input-clear" placeholder="请输入关键字搜索查询" type="search" style="width: 70%;height: 30px;margin: 0px;background-color: #fff;"></div>-->
            <a class="mui-icon  mui-icon-help mui-pull-right header-a" onclick="about()"></a>
        </header>
        <!--主体部分-->
        <div class="mui-content">
            <!--选项卡-->
            <div class="mui-row">
                <div class="tab-div m-float-l">
                    <div class="tab-div-title" id="sellerName">商家名称</div>
                    <div class="tab-div-right">
                        <!--<button type="button" id="joinBtn" class="mui-btn mui-btn-warning mui-btn-outlined" style="color: #000000;">查看评价</button>-->
                    </div>
                </div>
            </div>

            <!--页面部分-->
            <div class="mui-row" style="margin-bottom: 40px;">
                <div class="mui-card">
                    <div class="mui-card-content m-padding-t5">
                        <!--商家信息-->
                        <div class="info-div m-icon-timer" id="isRest"><b>营业时间：</b></div>
                        <div class="info-div m-icon-address" id="address"><b>商家地址：</b></div>
                        <div class="info-div m-icon-telephone" id="tel"><b>商家电话：</b></div>
                        <div class="info-div fontblack m-margin-b10" >
                            <div style="width:100%;text-indent: 0;;" id="introduction">

                            </div>
                        </div>
                    </div>
                    <div class="mui-card-content">
                        <hr> &#12288;商品列表
                        <hr>
                    </div>
                    <div class="mui-card-content" style="padding: 10px 0 0 0;" id="itemList">

                        <!--<div class="item-list">
                                <div class="item-title-title">
                                        <span class="font16"><b>掉渣肉价膜纯瘦</b></span>
                                        <div class="item-detail font11 fontblack">
                                                ，好吃，真好吃，就是好吃精选面粉精选面粉精选面粉，精选猪肉，好吃，真好吃，就是好吃精选面粉精选面粉精选面粉，精选猪肉，好吃，真好吃，就是好吃精选面粉精选面粉精选面粉，精选猪肉，好吃，真好吃，就是好吃精选面粉精选面粉精选面粉，精选猪肉，好吃，真好吃，就是好吃精选面粉精选面粉精选面粉，精选猪肉，好吃，真好吃，就是好吃精选面粉精选面粉精选面粉，精选猪肉，好吃，真好吃，就是好吃精选面粉精选面粉精选面粉，精选猪肉，好吃，真好吃，就是好吃
                                                <p class="font11">月销&#12288;10份&#12288;|&#12288;好评率&#12288;98%</p>
                                                <p class="fontred m-float-l font20"><b>￥8.0</b></p>
                                                <div class="mui-numbox price-numbox" data-numbox-step='1' data-numbox-min='0' data-numbox-max='99'>
                                                        <button class="mui-btn mui-btn-numbox-minus price-btn" type="button" style="background-image: url(img/jian.png);width: 20px;height: 20px;"></button>
                                                        <input class="mui-input-numbox" type="number" readonly="readonly" />
                                                        <button class="mui-btn mui-btn-numbox-plus price-btn" type="button" style="background-image: url(img/jia.png);width: 20px;height: 20px;"></button>
                                                </div>
                                        </div>
                                </div>
                        </div>-->

                    </div>
                </div>
            </div>
            <!--页面部分end-->

            <!--结算框-->
            <div class="mui-bar mui-bar-tab buy-div" id="buy-div">
                <div class="buy-price"><span class="mui-badge mui-badge-danger m-float-l" style="margin-left: -18px;" id="count_num">0</span>
                    <div class="buy-price-num">￥<span id="sum_price">0.0</sapn></div>
                    <input type="hidden" name="itemIds" value="" id="itemIds">
                </div>
                <div class="buy-btn m-float-r" onclick="openModal()">去结算</div>
            </div>
    </body>

</html>