<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        {$Think.const.ADMIN_META}{$Think.const.ADMIN_CSS}{$Think.const.ADMIN_COMPATIBLE}{$Think.const.ADMIN_JS}{$Assigndata}
        <!--自定义样式及脚本放于此处-->
        <link rel="stylesheet" href="__PUBLIC__/admin/css/index.css">
        <script type="text/javascript" src="__PUBLIC__/admin/js/index/index.js"></script>
        {$Think.const.ANIMATION}
        <title>{$config['system_name']}</title>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top b-header">
            <div class="container-fluid">
                <div class="navbar-header ">
                    <div class="b-systitle ">{$config['system_name']}</div>
                </div>
                <div class="navbar-collapse collapse" >
                    <ul class="nav navbar-nav navbar-right" style="margin: 5px 0px;">
                        <li class="dropdown">
                            <a href="__MODULE__/login/shome" class="b-top b-icon-shome hvr-buzz-out" style="color: #fff;display:{$shome};">
                                平台首页
                            </a>
                        </li>
                        <li class="dropdown ">
                            <a href="#" class="dropdown-toggle b-top b-icon-tix hvr-buzz-out" style="color: #fff;display:{$tixing}" data-toggle="dropdown">
                                提醒
                                <span class="label label-danger" id="countSum">0</span>
                            </a>
                            <ul class="dropdown-menu" style="width: 300px" id="propWarn">
                                <li class="divider"></li>
                                <li><a href="#">暂无提醒</a></li>
                                <li class="divider"></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle b-top b-icon-xiaox hvr-buzz-out" style="color: #fff;display:{$xiaoxi}" data-toggle="dropdown">
                                消息
                                <span class="label label-danger" id="newSum">0</span>
                                <!--<span class="label label-danger pull-right b-label" id="newSum">0</span>-->
                            </a>
                            <ul class="dropdown-menu" style="width: 420px" id="newMsg">
                                <li class="divider"></li>
                                <li><a href="#">暂无提醒</a></li>
                                <li class="divider"></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" onclick="jumpPage('__MODULE__/SysUserInfo/saveUserMyInfo', 0)" class="b-top b-icon-user hvr-buzz-out" style="color: #fff;" target="right">
                                {$realname}
                            </a>
                        </li>
                        <li ><a href="__MODULE__/login/logout" class="b-top b-icon-logout hvr-buzz-out" style="color: #fff;">退出</a></li>

                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid b-menu">
            <div class="row">
                <div class="col-md-2 b-div-menu" id="menu">
                    <ul id="main-nav" class="nav nav-list nav-stacked">
                        <li style="border-left-color: #3fb2ac">
                            <div class="li-color-1" onclick="jumpPage('__MODULE__/index/main', 0)">
                                <i class="glyphicon glyphicon-home"></i>
                                首&#12288;&#12288;页         
                                <span class="pull-right glyphicon">&#12288;</span>
                            </div>
                        </li>

                        <li class="noticeMenu">
                            <div href="#div1" class="nav-header collapsed li-color-2" onclick="zkTab('div1')">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                通知公告
                                <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                            </div>
                            <ul id="div1" class="nav nav-list collapse secondmenu" style="height: 0px;">
                                <li class="showNoticeCat"><div onclick="jumpPage('__MODULE__/NoticeCat/showList', this)" class="li-color-2">通知分类</div></li>
                                <li class="showNoticeInfo"><div onclick="jumpPage('__MODULE__/NoticeInfo/showList', this)" class="li-color-2" >信息列表</div></li>
                            </ul>
                        </li>

                        <li class="sellerMenu">
                            <div class="nav-header collapsed li-color-3" onclick="zkTab('div2')">
                                <i class="glyphicon glyphicon-shopping-cart"></i>
                                商家管理
                                <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                            </div>
                            <ul id="div2" class="nav nav-list collapse secondmenu" style="height: 0px;">
                                <li class="showSellerProm"><div onclick="jumpPage('__MODULE__/SellerPromInfo/showList', this)"  class="li-color-3">广告列表</div></li>
                                <li class="showSellerCat"><div onclick="jumpPage('__MODULE__/SellerCat/showList', this)"  class="li-color-3" >商家分类</div></li>
                                <li class="showSellerInfo"><div onclick="jumpPage('__MODULE__/SellerInfo/showList', this)"  class="li-color-3" >商家信息</div></li>
                                <li class="showSellerItems"><div onclick="jumpPage('__MODULE__/sellerIntegralGoods/showList', this)"  class="li-color-3">积分商品</div></li>
                                <li class="showSellerItems"><div onclick="jumpPage('__MODULE__/GoodsExchangeRecord/showList', this)"  class="li-color-3">兑换记录</div></li>
                            </ul>
                        </li>

                        <li class="activMenu">
                            <div class="nav-header collapsed li-color-5" onclick="zkTab('div4')">
                                <i class="glyphicon glyphicon-credit-card"></i>
                                活动管理
                                <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                            </div>
                            <ul id="div4" class="nav nav-list collapse secondmenu" style="height: 0px;">
                                <li class="showActivCat"><div onclick="jumpPage('__MODULE__/ActivCat/showList', this)"  class="li-color-5" >活动分类</div></li>
                                <li class="showActivInfo"><div onclick="jumpPage('__MODULE__/ActivInfo/showList', this)"  class="li-color-5" >活动列表</div></li>
                                <!--<li><div onclick="jumpPage('__MODULE__/ActivStatistics/show', this)"  class="li-color-5" >活动统计</div></li>-->
                            </ul>
                        </li>
                        <li class="listMenu">
                            <div class="nav-header collapsed li-color-2" onclick="zkTab('div5')">
                                <i class="glyphicon glyphicon-signal"></i>
                                榜单统计
                                <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                            </div>
                            <ul id="div5" class="nav nav-list collapse secondmenu" style="height: 1px;">
                                <li class=""><div onclick="jumpPage('__MODULE__/TopStatInfo/showTopList', this)"  class="li-color-2" >各类榜单</div></li>
                                <li class=""><div onclick="jumpPage('__MODULE__/TopStatInfo/showList', this)"  class="li-color-2" >用户消费统计</div></li>
                                <li class=""><div onclick="jumpPage('__MODULE__/TopStatInfo/showList', this)"  class="li-color-2" >公益活动统计</div></li>
                            </ul>
                        </li>

                        <li class="appuserMenu">
                            <div class="nav-header collapsed li-color-1" onclick="zkTab('div6')">
                                <i class="glyphicon glyphicon-user"></i>
                                会员管理
                                <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                            </div>
                            <ul id="div6" class="nav nav-list collapse secondmenu" style="height: 0px;">
                                <li class="showUserAppInfo"><div onclick="jumpPage('__MODULE__/SysUserAppInfo/showList', this)"  class="li-color-1" >居民信息</div></li>
                            </ul>
                        </li>
                        <li class="systemMenu">
                            <div class="nav-header collapsed li-color-6" onclick="zkTab('div7')">
                                <i class="glyphicon glyphicon-cog"></i>
                                系统设置
                                <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                            </div>
                            <ul id="div7" class="nav nav-list collapse secondmenu" style="height: 0px;">
                                <li class="showPrivCat"><div onclick="jumpPage('__MODULE__/SysPrivCat/showList', this)"  class="li-color-6" >权限分类</div></li>
                                <li class="showPrivInfo"><div onclick="jumpPage('__MODULE__/SysPrivInfo/showList', this)"  class="li-color-6" >权限列表</div></li>
                                <li class="showUserGroup"><div onclick="jumpPage('__MODULE__/SysUserGroup/showList', this)"  class="li-color-6" >角色管理</div></li>
                                <li class="showUserInfo"><div onclick="jumpPage('__MODULE__/SysUserInfo/showList', this)"  class="li-color-6" >用户管理</div></li>
                                <li class="showDbBack"><div onclick="jumpPage('__MODULE__/Dbbackup/showList', this)"  class="li-color-6" >数据备份</div></li>
                                <li class="cleanTemPic"><div onclick="jumpPage('__MODULE__/Allattach/delAttachs', this)"  class="li-color-6" >清理缓存</div></li>
                                <li class="showLogInfo"><div onclick="jumpPage('__MODULE__/Actionlog/showLogList', this)"  class="li-color-6" >系统日志</div></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10">
                    <div class="panel panel-default">
                        <div class="panel-body b-main-title">
                            <a id="firCat" style="color:#3fb2ac;" href="javascript:void(0)">后台</a>&nbsp;&raquo;&nbsp;<a id="secCat" style="color:#3fb2ac;" href="javascript:void(0)">首页</a>
                        </div>
                    </div>
                    <div class="panel panel-default" id="main">
                        <iframe name="right" id="rightMain" src="__MODULE__/index/main" frameborder="no" scrolling="auto" width="100%" height="100%" allowtransparency="true"></iframe>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html> 
