<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        {$Think.const.ADMIN_META}{$Think.const.ADMIN_CSS}{$Think.const.ADMIN_COMPATIBLE}{$Think.const.ADMIN_JS}{$Assigndata}
        <!--自定义样式及脚本放于此处-->
        <link rel="stylesheet" href="__PUBLIC__/health/css/index.css">
        {$Think.const.ANIMATION}
        <title>{$config['system_name']}</title>
    </head>
    <body>
        <button type="button" class="btn btn-primary" onclick="hhh(6)">血糖</button>
        <button type="button" class="btn btn-primary" onclick="hhh(9)">体重</button>
        <button type="button" class="btn btn-primary" onclick="hhh(5)">血氧</button>
        <button type="button" class="btn btn-primary" onclick="hhh(7)">血压</button>
        <button type="button" class="btn btn-primary" onclick="hhh(3)">体温</button>
        <hr>
        <form method="post" action="__CONTROLLER__/test" class="form-horizontal" id="save-form-6" style="margin-top: 20px;display:none;">
            <input type="hidden" name="num" value="6">
            <div class="form-group" id="user_id">
                <div class="col-sm-8">
                    身份证号<input type="text" class="form-control"  name="idcard" value="" placeholder="">
                </div>
            </div>
            <div class="form-group" id="user_id">
                <div class="col-sm-8">
                    手机号码<input type="text" class="form-control"  name="tel" value="" placeholder="">
                </div>
            </div>
            <div class="form-group" id="pwd">
                <div class="col-sm-8">
                    体检时间<input type="text" class="form-control" name="time" value="" placeholder="">
                </div>
            </div>
            <div class="form-group" id="pwd">
                <div class="col-sm-8">
                    测试类型<input type="text" class="form-control" name="type" value="" placeholder="0,1,2,3">
                </div>
            </div>
            <div class="form-group" id="pwd">
                <div class="col-sm-8">
                    血糖值<input type="text" class="form-control" name="bloodsugar" value="" placeholder="">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">提交</button>
        </form>
        <form method="post" action="__CONTROLLER__/test" class="form-horizontal" id="save-form-9" style="margin-top: 20px;display:none;">
            <input type="hidden" name="num" value="9">
            <div class="form-group" id="user_id">
                <div class="col-sm-8">
                    身份证号<input type="text" class="form-control"  name="idcard" value="" placeholder="">
                </div>
            </div>
            <div class="form-group" id="user_id">
                <div class="col-sm-8">
                    手机号码<input type="text" class="form-control"  name="tel" value="" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    体检时间<input type="text" class="form-control" name="time" value="" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    身高<input type="text" class="form-control" name="height" value="" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    体重<input type="text" class="form-control" name="weight" value="" placeholder="">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">提交</button>
        </form>
        
        <form method="post" action="__CONTROLLER__/test" class="form-horizontal" id="save-form-5" style="margin-top: 20px;display:none;">
            <input type="hidden" name="num" value="5">
            <div class="form-group" id="user_id">
                <div class="col-sm-8">
                    身份证号<input type="text" class="form-control"  name="idcard" value="" placeholder="">
                </div>
            </div>
            <div class="form-group" id="user_id">
                <div class="col-sm-8">
                    手机号码<input type="text" class="form-control"  name="tel" value="" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    体检时间<input type="text" class="form-control" name="time" value="" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    血氧<input type="text" class="form-control" name="bloodoxygen" value="" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    脉搏<input type="text" class="form-control" name="pulse" value="" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    公共建议<input type="text" class="form-control" name="common" value="" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    运动建议<input type="text" class="form-control" name="sport" value="" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    食物建议<input type="text" class="form-control" name="food" value="" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    医生建议<input type="text" class="form-control" name="doctor" value="" placeholder="">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">提交</button>
        </form>
        
        
        <form method="post" action="__CONTROLLER__/test" class="form-horizontal" id="save-form-7" style="margin-top: 20px;display:none;">
            <input type="hidden" name="num" value="7">
            <div class="form-group" id="user_id">
                <div class="col-sm-8">
                    身份证号<input type="text" class="form-control"  name="idcard" value="" placeholder="">
                </div>
            </div>
            <div class="form-group" id="user_id">
                <div class="col-sm-8">
                    手机号码<input type="text" class="form-control"  name="tel" value="" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    体检时间<input type="text" class="form-control" name="time" value="" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    收缩压<input type="text" class="form-control" name="systolic" value="" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    舒张压<input type="text" class="form-control" name="diastolic" value="" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    脉搏<input type="text" class="form-control" name="pulse" value="" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    公共建议<input type="text" class="form-control" name="common" value="" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    运动建议<input type="text" class="form-control" name="sport" value="" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    食物建议<input type="text" class="form-control" name="food" value="" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    医生建议<input type="text" class="form-control" name="doctor" value="" placeholder="">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">提交</button>
        </form>
        
        <form method="post" action="__CONTROLLER__/test" class="form-horizontal" id="save-form-3" style="margin-top: 20px;display:none;">
            <input type="hidden" name="num" value="3">
            <div class="form-group" id="user_id">
                <div class="col-sm-8">
                    身份证号<input type="text" class="form-control"  name="idcard" value="" placeholder="">
                </div>
            </div>
            <div class="form-group" id="user_id">
                <div class="col-sm-8">
                    手机号码<input type="text" class="form-control"  name="tel" value="" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    体检时间<input type="text" class="form-control" name="time" value="" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    体温<input type="text" class="form-control" name="temperature" value="" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    公共建议<input type="text" class="form-control" name="common" value="" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    运动建议<input type="text" class="form-control" name="sport" value="" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    食物建议<input type="text" class="form-control" name="food" value="" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    医生建议<input type="text" class="form-control" name="doctor" value="" placeholder="">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">提交</button>
        </form>

    </body>
</html>
<script type="text/javascript">
function hhh(id){
    $('.form-horizontal').css('display','none');
    $('#save-form-'+id).css('display','block');
}
</script>