<!DOCTYPE html>
<html lang="en">
    <head>
        {$Think.const.ADMIN_META}{$Think.const.ADMIN_CSS}{$Think.const.ADMIN_COMPATIBLE}{$Think.const.ADMIN_JS}{$Assigndata}{$Think.const.DATEPICKER}
        <link rel="stylesheet" href="/Public/Plugin/bootstrap/css/bootstrap-treeview.css">
        <link rel="stylesheet" type="text/css" href="/Public/admin/plugin/webuploader/webuploader.css">
        <link rel="stylesheet" href="/Public/admin/css/common.css">
        <script type="text/javascript" src="/Public/Plugin/bootstrap/js/bootstrap-treeview.js"></script>
        <script type="text/javascript" src="/Public/Plugin/layer-v3.0.2/layer.js"></script>
        <script type="text/javascript" src="/Public/Plugin/ueditor1.4.3.3/ueditor.config.js" charset="UTF-8"></script>
        <script type="text/javascript" src="/Public/Plugin/ueditor1.4.3.3/ueditor.all.min.js" charset="UTF-8"></script>
        <script type="text/javascript" src="/Public/Plugin/ueditor1.4.3.3/lang/zh-cn/zh-cn.js" charset="UTF-8"></script>
        <script type="text/javascript" src="/Public/admin/plugin/webuploader/webuploader.min.js"></script>
        <script type="text/javascript" src="/Public/admin/js/common.js"></script>
        <script type="text/javascript" src="/Public/admin/js/seller/sellerComplaint.js"></script>
    </head>
    <style>
        .field-group{width:100%;margin-top: 20px;height: 30px;}
        .field-name,.field-value{float:left;line-height: 30px;}
        .field-name{width:20%;font-size: 18px;font-weight: normal;}
        .field-value{width:80%;font-size: 16px;}
        .field-btn{width:33%;float: left;}
    </style>
    <body>

        <div class="container" >

            <div class="field-group">
                <div class="field-name">
                    <if condition="$seller_id eq NULL">
                        <button type="button" class="btn btn-warning" onclick="javascript:void(window.location.href = '__CONTROLLER__/showList')">返回</button>
                    <else/>
                        <button type="button" class="btn btn-warning" onclick="javascript:void(window.location.href = '__CONTROLLER__/showListById/seller_id/{$seller_id}')">返回</button>
                    </if>
                </div>
            </div>

            <div class="field-group">
                <div class="field-name">反馈用户名</div>
                <div class="field-value">
                    <a href="__MODULE__/SysUserInfo/detail/id/{$complaintInfo.user_id}">{$complaintInfo.userInfo.usr}</a>
                </div>
            </div>

            <div class="field-group">
                <div class="field-name">用户注册社区</div>
                <div class="field-value">{$complaintInfo.userInfo.com_name}</div>
            </div>

            <div class="field-group">
                <div class="field-name">联系方式</div>
                <div class="field-value">{$complaintInfo.userInfo.tel}</div>
            </div>

            <div class="field-group">
                <div class="field-name">被反馈商家名</div>
                <div class="field-value">
                    <a href="__MODULE__/SellerInfo/detail/id/{$complaintInfo.seller_id}">{$complaintInfo.sellerInfo.name}</a>
                </div>
            </div>

            <div class="field-group">
                <div class="field-name">商家注册社区</div>
                <div class="field-value">{$complaintInfo.com_name}</div>
            </div>

            <div class="field-group">
                <div class="field-name">联系人</div>
                <div class="field-value">{$complaintInfo.sellerInfo.contacts}</div>
            </div>

            <div class="field-group">
                <div class="field-name">联系方式</div>
                <div class="field-value">{$complaintInfo.sellerInfo.tel}</div>
            </div>

            <div class="field-group">
                <div class="field-name">反馈类型</div>
                <div class="field-value">{$complaintInfo.cat_name}</div>
            </div>


            <div class="field-group" style="margin-bottom: 50px;">
                <div class="field-name">处理状态</div>
                <div class="field-btn">
                    <if condition="$complaintInfo['status'] eq 0">
                        <button type="button" class="btn btn-warning" onclick="changeStatus('{$complaintInfo.id}')">标记为处理完毕</button>
                    <else/>
                        <span style="color: red;">已处理</span>
                    </if>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript">

    </script>
</html>