<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>最新活动</title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <link rel="stylesheet" href="__PUBLIC__/dxt/css/mui.min.css">
        <link rel="stylesheet" href="__PUBLIC__/dxt/css/icons-extra.css">
        <link rel="stylesheet" href="__PUBLIC__/dxt/css/common.css">
        <link rel="stylesheet" href="__PUBLIC__/dxt/css/activity.css">
        <script src="__PUBLIC__/dxt/js/jquery-1.11.0.js"></script>
        <script src="__PUBLIC__/dxt/js/mui.min.js"></script>
        <script type="text/javascript">
            //启用双击监听
            mui.init({
                gestureConfig: {
                    doubletap: true,
                    swipeBack: true //启用右滑关闭功能
                },
            });
        </script>
        {$Assigndata}
        <link rel="stylesheet" href="__PUBLIC__/dxt/css/common.css">
        <script src="__PUBLIC__/dxt/js/common.js"></script>
        <script src="__PUBLIC__/dxt/js/activity_list.js"></script>
    </head>

    <body>
        <!--头部-->
        <header class="mui-bar mui-bar-nav header-a-l">
            <h1 id="title" class="mui-title header-a-l">最新活动</h1>
            <a  class="mui-icon mui-icon-extra mui-icon-extra-regist mui-pull-right header-a" onclick="openSelect()"></a>
        </header>
        <!--底部-->
        <include file="./Application/dxt/View/tabnav.html" />
        <!--主体-->
        <div class="mui-content" style="background-color: #fff;margin-top:10px;">

            <!--list页面部分-->
            <ul class="mui-table-view" id="activityList">
<!--                <div class="mui-card">
                    <div class="mui-card-header mui-card-media" style="height:40vw;position:relative;background-image:url(/Public/Upload/activity/2018-04-11/5acd833d494d2.PNG)" onclick="getActivDetail(' + data.data[i]['id'] + ')">
                        <div class="p-modal"><div class="p-modal-div"><h4><i>已结束</i></h4></div></div>
                    </div>
                    <div class="mui-card-content">
                        <div class="mui-card-content-inner">
                            <p style="color: #000;font-size:1.1em;" onclick="getActivDetail()">【公益】放假啊看了电视剧分开拉就是打飞机阿斯利的空间看来飞机阿斯利的空间</p>
                            <div>
                                <span class="mui-badge mui-badge-primary" style="float: left;">300分</span>
                                <span>&#12288;云景东里/2018.09.12</span>
                                <span style="float: right;"><span class="mui-icon mui-icon-extra mui-icon-extra mui-icon-extra-heart font14"></span><span id="like_num">0</span>人收藏</span>
                            </div>
                        </div>
                    </div>
                </div>-->
            </ul>

            <!--动态加载模块-->
            <button id="loadMore" type="button" data-loading-icon="mui-spinner mui-spinner-custom" style="border:0px;width: 100%;color:#999;padding: 12px 0px;" class="mui-btn" sth onclick="loadMore()"></button>
            <input type="hidden" id="page" value="1">
            <!--蒙层-->
            <div class="m-modal"></div>
            <div class="m-modal-content" style="width:100%;margin-left: -50%;">
                <div class="mui-card">
                    <div class="mui-card-header">
                        <a class="mui-card-link" onclick="closeModal()">取消</a>
                        <span class="mui-card-link font666">筛选</span>
                        <a class="mui-card-link" onclick="subForm()">保存</a>
                    </div>
                    <div class="mui-card-content">
                        <div class="mui-card-content-inner">
                            <!--form-->
                            <form id="form">
                                <h5 class="mui-content-padded font333">活动地点</h5>
                                <div class="mui-input-group" style="width: 100%;height:auto;background-color: #fff;border:1px solid #ccc;border-radius: 4px;">
                                    <div class="mui-input-row mui-radio">
                                        <label>本社区</label>
                                        <input name="address_id" type="radio" value="{$address_id}" id="local_address" >
                                    </div>
                                    <div class="mui-input-row mui-radio" >
                                        <label>全体社区</label>
                                        <input name="address_id" type="radio" value="0" id="0_address" checked>
                                    </div>
                                </div>
                                <h5 class="mui-content-padded font333">活动类型</h5>
                                <div class="mui-input-group" style="width: 100%;height:auto;background-color: #fff;border:1px solid #ccc;border-radius: 4px;">
                                    <select style="margin: 0;" name="cat_id" id="cat_id">
                                        <option value="0">不限</option>
                                        <foreach name="catData" item="cat">
                                            <option value="{$cat.id}">{$cat.cat_name}</option>
                                        </foreach>
                                    </select>
                                </div>
                                <h5 class="mui-content-padded font333">积分等级</h5>
                                <div class="mui-input-group" style="width: 100%;height:auto;background-color: #fff;border:1px solid #ccc;border-radius: 4px;">
                                    <select style="margin: 0;" name="integral" id="integral">
                                        <option value="0">不限</option>
                                        <option value="100">100分</option>
                                        <option value="200">200分</option>
                                        <option value="300">300分</option>
                                        <option value="400">400分</option>
                                        <option value="500">500分</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>

</html>