<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        {$Think.const.ADMIN_META}{$Think.const.ADMIN_CSS}{$Think.const.ADMIN_COMPATIBLE}{$Think.const.ADMIN_JS}{$Assigndata}
        <!--在js中可使用的常量：
        var assignData=' . $json . ';
        var module="'.MODULE_NAME.'";
        var controller="'.CONTROLLER_NAME.'";
        var action="'.ACTION_NAME.'";
        var m_path="'.__ROOT__.'/index.php/'.MODULE_NAME.'";
        var c_path="'.__ROOT__.'/index.php/'.MODULE_NAME.'/'.CONTROLLER_NAME.'";
        var a_path="'.__ROOT__.'/index.php/'.MODULE_NAME.'/'.CONTROLLER_NAME.'/'.ACTION_NAME.'";
        var root="'.__ROOT__.'";
        var public="'.__ROOT__.'/Public";
        -->
        <!--自定义样式及脚本放于此处-->

        <title>{$sys_name}</title>
    </head>
    <body>

    </body>
</html> 