<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <link rel="stylesheet" href="__PUBLIC__/app/css/mui.min.css">

        <script src="__PUBLIC__/app/js/jquery-1.11.0.js"></script>
        <script src="__PUBLIC__/app/js/mui.min.js"></script>
        <script type="text/javascript">
            //启用双击监听
            mui.init({
                gestureConfig: {
                    doubletap: true
                },
            });
        </script>
        {$Assigndata}
        <link rel="stylesheet" href="__PUBLIC__/app/css/common.css">
        <script src="__PUBLIC__/app/js/common.js"></script>
        <script src="__PUBLIC__/app/js/wuye_detail.js"></script>
    </head>

    <body>
        <!--右上角弹出菜单-->
        <!--<div id="popover" class="mui-popover" style="width:150px;">
                <ul class="mui-table-view">
                        <li class="mui-table-view-cell">
                                <a href="#" class="mui-icon mui-icon-home mui-pull-left" onclick="aHome()">
                                        <span style="font-size: 14px;padding-left: 5px;">返回首页</span>
                                </a>
                        </li>
                        <li class="mui-table-view-cell">
                                <a href="#" class="mui-icon mui-icon-person mui-pull-left" onclick="aHref('setting')">
                                        <span style="font-size: 14px;padding-left: 5px;">个人中心</span>
                                </a>
                        </li>
                        <li class="mui-table-view-cell">
                                <a href="#" class="mui-icon mui-icon-mui-icon mui-icon-chatboxes mui-pull-left" onclick="aHref('order_manage')">
                                        <span style="font-size: 14px;padding-left: 5px;">订单管理</span>
                                </a>
                        </li>
                </ul>
        </div>-->

        <!--头栏-->
        <header class="mui-bar mui-bar-nav">
            <a id="back" class="mui-icon mui-icon-back mui-pull-left header-a-l" onclick="backList()">
                <sapn class="comfont"></span>
            </a>
            <h1 class="mui-title" style="background-color: #9edee9;color: #FFFFFF;">格瑞雅居健康生活</h1>
            <!--<div class="mui-title .mui-input-search header-ss-div"><input class="mui-input-clear" placeholder="请输入关键字搜索查询" type="search" style="width: 70%;height: 30px;margin: 0px;background-color: #fff;"></div>-->
            <a class="mui-icon  mui-icon-help mui-pull-right header-a" onclick="about()"></a>
        </header>
        <!--主体部分-->
        <div class="mui-content">

            <!--选项卡-->
            <div class="mui-row">
                <div class="tab-div m-float-l">
                    <div class="tab-div-title" id="proType"></div>
                </div>
            </div>

            <!--list页面部分-->

            <div class="mui-row">
                <div class="mui-card">
                    <!--页眉，放置标题-->
                    <div class="mui-card-header ">
                        <span id="title"></span>
                        <span class="list-right-span" id="add_time"></span>
                    </div>
                    <!--内容区-->
                    <div class="mui-card-header ">
                        <span class="list-left-span fontred font16" id="reply">

                        </span>
                        <span class="list-right-span font16" id="is_deal">

                        </span>

                    </div>
                    <div class="mui-card-content">
                        <div class="mui-input-row">
                            <div class="m-inputheader" id="cat_name"><b class="fontblack">险情类型</b></div>
                            <div class="m-inputframe m-padding-lr10 m-padding-tb10" id="dang_cat"></div>

                            <div class="m-inputheader" id="level_name"><b class="fontblack" >险情级别</b></div>
                            <div class="m-inputframe m-padding-lr10 m-padding-tb10" id="dang_level">

                            </div>

                            <div class="m-inputheader" id="address_name"><b class="fontblack" >险情位置</b></div>
                            <div class="m-inputframe m-padding-lr10 m-padding-tb10" id="address">

                            </div>

                            <div class="m-inputheader" id="content_name"><b class="fontblack" >故障详情</b></div>
                            <div class="m-inputframe m-padding-lr10 m-padding-tb10" id="content"></div>

                            <div class="m-inputheader" id="item_name"><b class="fontblack" >报修类型</b></div>
                            <div class="m-inputframe m-padding-lr10 m-padding-tb10" id="item"></div>

                            <div class="m-inputheader"><b class="fontblack">联系方式</b></div>
                            <div class="m-inputframe m-padding-lr10 m-padding-tb10" id="tel"></div>

                            <div class="m-inputheader"><b class="fontblack">上传图片</b></div>
                            <div class="m-inputframe" id="picList">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </body>

</html>