<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        {$Think.const.ADMIN_META}{$Think.const.ADMIN_CSS}{$Think.const.ADMIN_COMPATIBLE}{$Think.const.ADMIN_JS}{$Assigndata}
        <!--自定义样式及脚本放于此处-->
        <link rel="stylesheet" href="__PUBLIC__/admin/css/index.css">
        <link rel="stylesheet" href="__PUBLIC__/admin/css/common.css">
        <link rel="stylesheet" href="__PUBLIC__/admin/css/top.css">

        <script type="text/javascript">
            $(function () {
                $('#tabBtn').find('button').removeClass('btn-success');
                if(assignData.address_id==0){
                    location.href = a_path + '?type=1';
                    $('#btn_1').addClass('btn-success');
                }else{
                    $('#btn_' + assignData.data.type).addClass('btn-success');
                }
            });
            function showTopList(type) {
                location.href = a_path + '?type=' + type;
            }
        </script>
        {$Think.const.ANIMATION}
        <title>{$config['system_name']}</title>
    </head>
    <body>
        <div class="container" style="width: 100%;background-color: #e9ecf3;">
            <div class="option_search">
                <div class="btn-group btn-group-lg" id='tabBtn'>
                    <if condition="$sys_name neq 'sysAdmin'">
                        <button type="button" id='btn_0' class="btn btn-default btn-success" onclick="showTopList(0)">
                            本社区用户榜单
                        </button>
                    </if>
                    <button type="button" id='btn_1' class="btn btn-default" onclick="showTopList(1)">
                        梨园镇用户榜单
                    </button>
                    <button type="button" id='btn_2' class="btn btn-default" onclick="showTopList(2)">
                        梨园镇商家榜单
                    </button>
                    <button type="button" id='btn_3' class="btn btn-default" onclick="showTopList(3)">
                        梨园镇社区榜单
                    </button>
                </div>
            </div>
            <div class="row">

                <div class="b-tip-div col-xs-6 col-sm-4">
                    <div class="panel b-color-tip2">
                        <div class="panel-heading">
                            <div class="b-tip-body">
                                <div class="b-tip-left">
                                    <i class="glyphicon glyphicon-stats"></i>
                                </div>
                                <div class="b-tip-right">
                                    <div class="b-tip-titleb">{$data.type_name}</div>
                                    <div class="b-tip-titlel">本季度</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <foreach name="data.nowList" item="v" key="k">
                                <div class="row_list">
                                    <div class="row_list_jp jp0{$k+1}"></div>
                                    <div class="row_list_tx">
                                        {$v.tx_icon}
                                    </div>
                                    <span class="row_list_title">{$v.top}</br><p>{$v.bottom}</p></span>
                                    <span class="row_list_integral">{$v.right}</span>
                                </div>
                            </foreach>
                            <empty name="data.nowList">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        暂时没有数据
                                    </div>
                                </div>
                            </empty>
                        </div>
                    </div>
                </div>

                <div class="b-tip-div col-xs-6 col-sm-4">
                    <div class="panel  b-color-tip1">
                        <div class="panel-heading">
                            <div class="b-tip-body">
                                <div class="b-tip-left">
                                    <i class="glyphicon glyphicon-stats"></i>
                                </div>
                                <div class="b-tip-right">
                                    <div class="b-tip-titleb">{$data.type_name}</div>
                                    <div class="b-tip-titlel">上季度</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <foreach name="data.lastList" item="v" key="k">
                                <div class="row_list">
                                    <div class="row_list_jp jp0{$k+1}"></div>
                                    <div class="row_list_tx">
                                        {$v.tx_icon}
                                    </div>
                                    <span class="row_list_title">{$v.top}</br><p>{$v.bottom}</p></span>
                                    <span class="row_list_integral">{$v.right}</span>
                                </div>
                            </foreach>
                            <empty name="data.lastList">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        暂时没有数据
                                    </div>
                                </div>
                            </empty>
                        </div>

                    </div>
                </div>

                <div class="b-tip-div col-xs-6 col-sm-4">
                    <div class="panel  b-color-tip3">
                        <div class="panel-heading">
                            <div class="b-tip-body">
                                <div class="b-tip-left">
                                    <i class="glyphicon glyphicon-stats"></i>
                                </div>
                                <div class="b-tip-right">
                                    <div class="b-tip-titleb">{$data.type_name}</div>
                                    <div class="b-tip-titlel">总榜单</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <foreach name="data.allList" item="v" key="k">
                                <div class="row_list">
                                    <div class="row_list_jp jp0{$k+1}"></div>
                                    <div class="row_list_tx">
                                        {$v.tx_icon}
                                    </div>
                                    <span class="row_list_title">{$v.top}</br><p>{$v.bottom}</p></span>
                                    <span class="row_list_integral">{$v.right}</span>
                                </div>
                            </foreach>
                            <empty name="data.allList">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        暂时没有数据
                                    </div>
                                </div>
                            </empty>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </body>
</html> 