<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        {$Think.const.ADMIN_META}{$Think.const.ADMIN_CSS}{$Think.const.ADMIN_COMPATIBLE}{$Think.const.ADMIN_JS}{$Assigndata}
        <!--在js中可使用的常量：
        var assignData=' . $json . ';
        var module="'.MODULE_NAME.'";
        var controller="'.CONTROLLER_NAME.'";
        var action="'.ACTION_NAME.'";
        var m_path="'.__ROOT__.'/index.php/'.MODULE_NAME.'";
        var c_path="'.__ROOT__.'/index.php/'.MODULE_NAME.'/'.CONTROLLER_NAME.'";
        var a_path="'.__ROOT__.'/index.php/'.MODULE_NAME.'/'.CONTROLLER_NAME.'/'.ACTION_NAME.'";
        var root="'.__ROOT__.'";
        var public="'.__ROOT__.'/Public";
        -->
        <!--自定义样式及脚本放于此处-->

        <title>格林雅居健康生活</title>
    </head>
    <body>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                 aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                <span class="sr-only">40% 完成</span>
            </div>
        </div>
        <form action="__CONTROLLER__/uploadFileADb" enctype="multipart/form-data" method="post">
            <input type="hidden" name="module_name" value="notice">
            <input type="hidden" name="file_ext" value="file">
            <input type="file" name="file" class="form-control shake-opacity">
            <input type="submit" value="确定">
        </form>
    </body>
</html>
