<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <link rel="stylesheet" href="__PUBLIC__/appm/css/mui.min.css">
        <link rel="stylesheet" href="__PUBLIC__/appm/css/activity.css">

        <script src="__PUBLIC__/appm/js/jquery-1.11.0.js"></script>
        <script src="__PUBLIC__/appm/js/mui.min.js"></script>
        <script type="text/javascript">
            //启用双击监听
            mui.init({
                gestureConfig: {
                    doubletap: true
                },
            });
        </script>
        {$Assigndata}
        <link rel="stylesheet" href="__PUBLIC__/appm/css/common.css">
        <script src="__PUBLIC__/appm/js/common.js"></script>
        <script src="__PUBLIC__/appm/js/activity_detail.js"></script>
    </head>

    <body>
        <!--右上角弹出菜单-->
        <!--<div id="popover" class="mui-popover" style="width:150px;">
                <ul class="mui-table-view">
                        <li class="mui-table-view-cell">
                                <a href="#" class="mui-icon mui-icon-home mui-pull-left" onclick="aHome()">
                                        <span style="font-size: 14px;padding-left: 5px;">返回首页</span>
                                </a>
                        </li>
                        <li class="mui-table-view-cell">
                                <a href="#" class="mui-icon mui-icon-person mui-pull-left" onclick="aHref('setting')">
                                        <span style="font-size: 14px;padding-left: 5px;">个人中心</span>
                                </a>
                        </li>
                        <li class="mui-table-view-cell">
                                <a href="#" class="mui-icon mui-icon-mui-icon mui-icon-chatboxes mui-pull-left" onclick="aHref('order_manage')">
                                        <span style="font-size: 14px;padding-left: 5px;">订单管理</span>
                                </a>
                        </li>
                </ul>
        </div>-->
        <header class="mui-bar mui-bar-nav">
            <a class="mui-icon mui-icon-back mui-pull-left header-a-l" onclick="back()">
            </a>
            <h1 id="title" class="mui-title" style="background-color: #9edee9;color: #FFFFFF;">格瑞雅居健康生活</h1>

            <!--<div class="mui-title .mui-input-search header-ss-div"><input class="mui-input-clear" placeholder="请输入关键字搜索查询" type="search" style="width: 70%;height: 30px;margin: 0px;background-color: #fff;"></div>-->
            <a class="mui-icon  mui-icon-help mui-pull-right header-a" onclick="about()"></a>
            <!--选项卡-->
            <div class="mui-row" style="background-color: #fff;">
                <div class="tab-div m-float-l">
                    <div class="tab-div-title">社区最新活动</div>
                    <div class="tab-div-right">
                        <button type="button" id="joinBtn" class="mui-btn mui-btn-warning" style="margin-top: -8px;">马上参加</button>
                    </div>
                </div>
            </div>
        </header>

        <div class="mui-content" style="background-color: #fff;margin-top: 45px;">

            <!--页面部分-->
            <div class="mui-row">
                <div class="mui-card">
                    <div class="mui-card-header mui-card-media">
                        <img src="__PUBLIC__/appm/img/linkman.png" />
                        <div class="mui-media-body" id="activ_title">
                            <!--活动标题
                            <p>who 发表于 2016-06-30 15:30</p>-->
                        </div>
                    </div>
                    <div class="mui-card-content">
                        <!--主体-->

                        <div class="listdigest m-padding-lr10" id="activ_content">
                            <!--内容区							
                            -->
                        </div>
                    </div>
                    <div class="listfooter m-margin-b10 m-padding-lr10"><span id="read_num">浏览45次</span>

                        <div class="listfooter-num">
                            <p id="join_num"></p>
                        </div>
                        <div class="listfooter-zan m-icon-join"></div>

                        <div class="listfooter-num">
                            <p id="comm_num"></p>
                        </div>
                        <div class="listfooter-zan m-icon-pingl"></div>

                        <div class="listfooter-num">
                            <p id="like_num"></p>
                        </div>
                        <div class="listfooter-zan m-icon-zan" id='zan' onclick="zanActiv()"></div>
                    </div>

                    <div class="mui-card-footer">
                        <!--评论表单-->
                        <div class="m-card-pinglun">
                            <div class="m-card-pinglun m-son-8">
                                <input type="text" placeholder="评论" id="pl_input">
                            </div>
                            <div class="m-card-pinglun m-son-2 m-padding-l5">
                                <button type="button" class="mui-btn mui-btn-blue m-float-l m-botton-send" id="sendBtn" onclick="">发送</button>
                            </div>
                        </div>

                    </div>
                    <div class="mui-card-footer" style="padding-left: 0px;">
                        <!--评论列表-->
                        <ul class="mui-table-view" id="commList" style="width: 300%;">
                            <!--<li class="mui-table-view-cell" style="padding-left: 0px;">
                                    <div class="mui-row">
                                            <div class="pinglun-list m-margin-l15">
                                                    <div class="pinglun-title">
                                                            <div class="pinglun-title-img m-icon-tx2">
                                                            </div>
                                                            <div class="pinglun-title-title m-margin-l15">
                                                                    1楼-活动啊活动撒娇可否考虑
                                                                    <p>2016-06-30 15:30</p>
                                                            </div>
                                                    </div>
                                                    <div class="pinglun-content">
                                                            这是之前你画的那版原型，你把最新的都完善到整套原型里吧，然后把原型更新一版，感觉现在比较零散
                                                    </div>
                                            </div>
                            </li>-->

                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </body>


</html>