<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        {$Think.const.ADMIN_META}{$Think.const.ADMIN_CSS}{$Think.const.ADMIN_COMPATIBLE}{$Think.const.ADMIN_JS}{$Assigndata}
        <link rel="stylesheet" href="/Public/admin/css/common.css">
    </head>
    <body>
        <div class="detail_div">
            <div class="content" style="margin: 1% 2%;">
                <div class="row">
                    <div class="col-sm-11"></div>
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-default"onclick="javascript:void(window.location.href = '__CONTROLLER__/showList')" style="height: 34px;">
                            <span class="glyphicon glyphicon-share-alt"></span> 返回
                        </button>
                    </div>
                </div>
                <h1>居民体检信息</h1>
                <div class="main" style="font-size: 14px;">
                    <div class="row" style="border: 1px solid #ccc; line-height: 34px;">
                        <div class="col-xs-12 col-sm-2">
                            姓名：{$info.realname}
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            身份证号：{$info.idcard}
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            手机号码：{$info.tel}
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            测量时间：{$info.time}
                        </div>
                    </div>
                    <div class="row" style="border: 1px solid #ccc; line-height: 34px;">
                        <div class="col-xs-12 col-sm-2">
                            设备：{$info.device_name}
                        </div>
                        <div class="col-xs-12 col-sm-5">
                            体检编号：{$info.physicalid}
                        </div>
                        <div class="col-xs-12 col-sm-5">
                            医生ID：{$info.medicid}
                        </div>
                    </div>

                    <div class="row" style="border: 1px solid #ccc;background-color: #ccc;height: 100px;line-height: 100px;text-align: center;font-size: 16px;">
                        {$info.result}
                    </div>

                    <div class="row" style="border: 1px solid #ccc; line-height: 34px;">
                        <div class="col-xs-12 col-sm-2">
                            科学建议：
                        </div>
                    </div>
                    <div class="row" style="border: 1px solid #ccc; line-height: 34px;">
                        <div class="col-xs-12 col-sm-12">
                            {$info.sug}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>