<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        {$Think.const.ADMIN_META}{$Think.const.ADMIN_CSS}{$Think.const.ADMIN_COMPATIBLE}{$Think.const.ADMIN_JS}{$Assigndata}
        <!--自定义样式及脚本放于此处-->
        <link rel="stylesheet" href="/Public/dxt/css/detail.css">
        {$Think.const.ANIMATION}
        <title>{$config['system_name']}</title>
        <script type="text/javascript" src="__PUBLIC__/dxt/js/jquery-1.11.0.js"></script>
        <script type="text/javascript" src="__PUBLIC__/dxt/js/detail.js"></script>
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.3&ak=woXSx1cEZqVgwpMkc8bgVzQZ4xHq1IU8"></script>
    </head>
    <body>
        <div class="area">
            <div class="titleArea">
                <div class="logo"></div>
                <div class="sysName">梨园智能商圈</div>
            </div>

            <div class="backhomeBtn hvr-backward" onclick="backHome({$address_id})"></div>
            
             <div class="addressSelect">
                <select name="address_id" id="address_id" onchange="getAddressAdList()">
                    <option value='0'>全体社区</option>
                    <option value='1'>翠景北里</option>
                    <option value='2'>翠屏北里</option>
                    <option value='3'>翠屏南里</option>
                    <option value='4'>大方居</option>
                    <option value='5'>格瑞雅居</option>
                    <option value='6'>葛布店东里</option>
                    <option value='7'>金侨时代</option>
                    <option value='8'>京洲园</option>
                    <option value='9'>靓景明居</option>
                    <option value='10'>梨园东里</option>
                    <option value='11'>龙鼎园</option>
                    <option value='12'>曼城家园</option>
                    <option value='13'>群芳园</option>
                    <option value='14'>万盛北里</option>
                    <option value='15'>欣达园</option>
                    <option value='16'>新城乐居</option>
                    <option value='17'>新华联南区</option>
                    <option value='18'>颐瑞东里</option>
                    <option value='19'>颐瑞西里</option>
                    <option value='20'>云景北里</option>
                    <option value='21'>云景东里</option>
                    <option value='22'>云景里</option>
                    <option value='23'>梨园网格</option>
                </select>
            </div>

            <div class="adArea" id="adList">

            </div>
            
            <input type="hidden" id="page" name="page" value="1" >
            <input type="hidden" id="end" name="end" value="0" >
            <div class="changeBtn1 hvr-pop" onclick="getAdListPre()"></div>
            <div class="changeBtn2 hvr-pop" onclick="getAdListNext()"></div>

            <div class="contentArea">
                <div class="contentInfo">
                    <div class="linecenter">商家名称：{$sellerInfo.name}&#12288;注册社区：{$sellerInfo.address_name}</div>
                    <hr>
                    <div class="lineleft">联系方式：{$sellerInfo.tel}</div>
                    <div class="lineleft">地址：{$sellerInfo.address}</div>
                    <div id="allmap" style="width:100%;height:200px;background-color: red;"></div>
                    <notempty name="adList">
                        <foreach name="adList" item="v" key="k">
                            <hr>
                            <div class="linecenter">{$v.title}</div>
                            <div class="linecenter">&#12288;</div>
                            <div class="lineleft"><img src="../../../{$v.pics.data.0.url}" style="width:100%;height: auto;"></div>
                            <div class="lineleft" style="text-indent: 2em;">{$v.content}</div>
                        </foreach>

                    </notempty>
                </div>
            </div>

        </div>
    </body> 
</html>

<script type="text/javascript" src="/Public/dxt/js/baiduMap.js"></script>
<script type="text/javascript">
                //百度地图
                baiduMap('{$sellerInfo.address_api_url}');
</script>