<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        {$Think.const.ADMIN_META}{$Think.const.ADMIN_CSS}{$Think.const.ADMIN_COMPATIBLE}{$Think.const.ADMIN_JS}{$Assigndata}
        <!--自定义样式及脚本放于此处-->
        <link rel="stylesheet" href="/Public/dxt/css/home.css">
        <script type="text/javascript" src="/Public/Plugin/layer-v3.0.2/layer.js"></script>
        {$Think.const.ANIMATION}
        <title>{$config['system_name']}</title>
    </head>
    <body>
        <div class="area">
            <div class="logo"></div>
            <div class="system_name">梨园智能商圈</div>
            <div class="alert"></div>
            <div class="pic"></div>
            <div class="input"></div>
            <div class="qrcode"></div>
        </div>
    </body> 
</html>