<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        {$Think.const.ADMIN_META}{$Think.const.ADMIN_CSS}{$Think.const.ADMIN_COMPATIBLE}{$Think.const.ADMIN_JS}{$Assigndata}
        <!--自定义样式及脚本放于此处-->
        <link rel="stylesheet" href="/Public/dxt/css/main.css">
        {$Think.const.ANIMATION}
        <title>{$config['system_name']}</title>
        <script type="text/javascript" src="__PUBLIC__/dxt/js/jquery-1.11.0.js"></script>
        <script type="text/javascript" src="__PUBLIC__/dxt/js/main.js"></script>
    </head>
    <body>
        <div class="area">
            <div class="infoArea">
                <div class="tx_path"><img src="{$myInfo.tx_path}" style="width:69px;height:69px;margin: 5px;"></div>
                <div class="myInfo">
                    欢&#12288;&#12288;迎：[{$myInfo.address_name}]&#12288;[{$myInfo.realname}]</br>
                    可用积分：&nbsp;<b>{$myInfo.integral_num}</b>&nbsp;
                </div>
            </div>
            
            <input type="hidden" id="address_id" name="address_id" value="0" >
            <input type="hidden" id="page" name="page" value="1" >

            <div class="changeBtn hvr-pop" onclick="getAdListNext()"></div>

            <div class="adArea" id="adList">

            </div>

            <div class="qrcodeArea">
                <img src='__PUBLIC__/dxt/img/lyznsq_qrcode.jpg' style="width:129px;height:129px;">
            </div>
            <div class="qrcodeTsTitle">扫码关注公众号</div>
            
            <div class="logoutBtn" onclick="javascript:location.href='__CONTROLLER__/index/index'"></div>

            <div class="showArea">
                <iframe style="margin-right: 200px;overflow-y:scroll;" name="right" id="rightMain" src="__CONTROLLER__/login/user_id/{$user_id}" frameborder="no" scrolling="auto" width="100%" height="100%" allowtransparency="true"></iframe>
            </div>
            <div class="backBtn" onclick="history.back()">返回</div>
        </div>
    </body> 
</html>