/*导向台首页*/
.area{
    /*background-color: red;*/
    width:900px;
    height:990px;
    background: url(../img/index_bg.png);
}
.titleArea{
    width:400px;
    height: 80px;
    background-color: red;
    position: absolute;
    left: 0px;
    top:0px;
}
.logo{
    float: left;
}
.sysName{
    float: left;
}
.qrcodeArea{
    width:100px;
    height: 100px;
    background-color: red;
    position: absolute;
    left: 24px;
    top:850px;
}

.adArea{
    width:350px;
    height:650px;
    border: 1px solid #eee;
    
    position: absolute;
    left: 20px;
    top:160px;
    
}