/*导向台首页*/
.area{
    /*background-color: red;*/
    width:900px;
    height:990px;
    background: url(../img/index_bg.png);
}
.titleArea{
    width:400px;
    height: 80px;
    background-color: red;
    position: absolute;
    left: 0px;
    top:0px;
}
.logo{
    float: left;
    width:80px;
    height:80px;
    background: url(../img/logo.png);
    background-size: 52px 48px;
    background-repeat: no-repeat;
    background-position: center;

}
.sysName{
    float: left;
    width:320px;
    height:80px;

    font-family: "微软雅黑";
    font-size: 30px;
    line-height: 80px;
    color:#fff;

}
.qrcodeArea{
    width:100px;
    height: 100px;
    background-color: red;
    position: absolute;
    left: 24px;
    top:850px;
}

.adArea{
    width:350px;
    height:650px;
    border: 1px solid #eee;

    position: absolute;
    left: 20px;
    top:160px;

}