/*导向台首页*/
.area{
    /*background-color: red;*/
    width:900px;
    height:990px;
    background: url(../img/bg_index.png);
}
.showArea{
    border: 1px solid #000;
    width:415px;
    height: 720px;
    /*background-color: red;*/
    position: absolute;
    left: 455px;
    top:165px;
    overflow: hidden;

}

.backBtn{
    font-family: "微软雅黑";
    font-size: 20px;
    color:#eee;
    line-height: 40px;
    text-align: center;

    cursor: pointer;

    width:140px;
    height: 40px;
    /*background-color: red;*/
    position: absolute;
    left: 592px;
    top:904px;
}
.infoArea{
    width:auto;
    height: 80px;
    /*background-color: red;*/
    position: absolute;
    left: 20px;
    top:20px;
}

.tx_path{
    width:79px;
    height:79px;
    border: 1px solid #eee;
    float: left;

}

.myInfo{
    width:auto;
    height:79px;
    border: 1px solid #eee;
    margin-left: 10px;
    float: left;

    font-family: "微软雅黑";
    font-size: 20px;
    color:#eee;
    line-height: 34px;
    padding: 5px;

}

.qrcodeArea{
    width:111px;
    height: 111px;
    background: url(../img/qrcode.png);
    background-size: 111px 111px;
    background-repeat: no-repeat;
    position: absolute;
    left: 30px;
    top:760px;
}

.logoutBtn{
    width:120px;
    height: 41px;
    background: url(../img/back.png);
    position: absolute;
    left: 30px;
    top:900px;
}

.adArea{
    width:275px;
    height:580px;
    /*border: 1px solid #eee;*/

    position: absolute;
    left: 20px;
    top:160px;
}

.adList{
    float:left;
    width:273px;
    height:110px;
    border: 1px solid #D7EDFF;
    /*border-bottom: 1px solid #D7EDFF;*/
    margin-bottom: 7px;
    padding: 5px;

}
.adImg{
    float:left;
    width:100px;
    height:100px;
    margin-right: 5px;
}
.adTitle{
    float:left;
    width:155px;
    height:100px;
    /*background-color: red;*/

    font-family: "微软雅黑";
    font-size: 16px;
    line-height: 30px;
    color:#D7EDFF;
    font-weight: bold;
}