<!DOCTYPE HTML>
<html>
    <head>
        {$Think.const.ADMIN_META}{$Think.const.ADMIN_CSS}{$Think.const.ADMIN_COMPATIBLE}{$Think.const.ADMIN_JS}{$Assigndata}
        <script src="/Public/Plugin/Highcharts-5.0.0/js/highcharts.js"></script>
        <script src="/Public/Plugin/Highcharts-5.0.0/js/modules/exporting.js"></script>
        <script src="/Public/Plugin/Highcharts-5.0.0/js/highcharts-zh_CN.js"></script>
    </head>
    <body>
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </body>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#container').highcharts({
                title: {
                    text: '活动统计',
                    x: -20 //center
                },
                subtitle: {
                    text: 'Source: 社区服务活动',
                    x: -20
                },
                xAxis: {
                    categories: ['1月', '2月', '3月', '4月', '5月', '6月',
                        '7月', '8月', '9月', '10月', '11月', '12月']
                },
                yAxis: {
                    title: {
                        text: '活动数(Count)'
                    },
                    plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                },
                tooltip: {
                    valueSuffix: '(个)'
                },
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom',
                    borderWidth: 0
                },
                series: {$data}
            });
            $('.highcharts-credits').css('display', 'none');
            $('.highcharts-button-symbol').remove();
            $('.highcharts-button-box').remove();
        });
    </script>

</html>
