<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        {$Think.const.ADMIN_META}{$Think.const.ADMIN_CSS}{$Think.const.ADMIN_COMPATIBLE}{$Think.const.ADMIN_JS}{$Assigndata}
        <link rel="stylesheet" href="/Public/admin/css/common.css">
        <link rel="stylesheet" href="/Public/Plugin/bootstrap/css/bootstrap-treeview.css">
        <script type="text/javascript" src="/Public/Plugin/bootstrap/js/bootstrap-treeview.js"></script>
        <script type="text/javascript" src="/Public/Plugin/layer-v3.0.2/layer.js"></script>
        <script type="text/javascript" src="/Public/admin/js/common.js"></script>
        <script type="text/javascript" src="/Public/admin/js/system/userAppUserInfo.js"></script>
    </head>
    <body>
        <div class="option_search">
            <form method="get" action="__CONTROLLER__/showList" class="form-horizontal" id="search-form" style="margin-top: 20px;">
                <div class="form-group">
                    <div class="col-sm-2" style="min-width: 200px;">
                        <button type="button" class="btn btn-success addUserAppInfo" onclick="javascript:void(window.location.href = '__CONTROLLER__/saveUserInfo/catName/appUser')" style="height: 34px;">
                            <span class="glyphicon glyphicon-plus"></span> 新增
                        </button>
                        <button type="button" class="btn btn-danger delUserAppInfo" id="delArrayGroup-btn" style="height: 34px;">
                            <span class="glyphicon glyphicon-trash"></span> 批量删除
                        </button>
                    </div>
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-3" style="text-align: right;">
                        <div class="input-group">
                            <input type="text" class="form-control" id="keyword" name="keyword" value="{$searchInfo.keyword}" placeholder="请输入手机号">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-success" id="searchInfo-btn" style="height: 34px;">
                                    <span class="glyphicon glyphicon-search"></span> 搜索
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="table_content">
            <table class="table table-hover">
                <tr>
                    <th style="width: 50px;">序号</th>
                    <th><input type="checkbox" name="allChecked" onclick="setAllChecked(this);"/></th>
                    <th>真实姓名</th>
                    <th>手机号码</th>
                    <th>积分数</th>
                    <th>卡券数</th>
                    <th>参与次数</th>
                    <th>经验值</th>
                    <th>社区卡号</th>
                    <th>操作</th>
                </tr>
                <notempty name="infoList">
                    <foreach name="infoList" item="v" key="k">
                        <tr class="tr">
                            <td>{:(I('get.p'))?((I('get.p')-1)*C('PAGE_SIZE')+$k+1):($k+1)}</td>
                            <td><input type="checkbox" name="rowChecked" value="{$v.id}"/></td>
                            <td>
                        <if condition="$v.is_enable eq 0"><span class="label label-danger">禁用</span>
                            <else/><span class="label label-success">启用</span>
                        </if>
                        <a href="__CONTROLLER__/appUserDetail/id/{$v.id}">{$v.realname}</a>
                        </td>
                        <td>{$v.tel}</td>
                        <td>{$v.integral_num}</td>
                        <td>{$v.card_num}</td>
                        <td>{$v.joined_act_num}</td>
                        <td>{$v.exp_num}</td>
                        <td>
                        <if condition="$v.iccard_num eq 0"><span class="label label-default">未绑定</span><else/>{$v.iccard_num}</if>
                        </td>

                        <td>
                            <div>
                                <button class="btn btn-default edit-btn editUserAppInfo" onclick="javascript:void(window.location.href = '__CONTROLLER__/appUserDetail/id/{$v.id}');">
                                    <span class="glyphicon glyphicon-edit"></span> 编辑
                                </button>
                                <button class="btn btn-default del-btn bindingUserAppInfo" onclick="bindingCardLayer({$v.id})">
                                    <span class="glyphicon glyphicon-qrcode"></span> 绑卡
                                </button>
                            </div>
                        </td>
                        </tr>
                    </foreach>
                </notempty>
                <empty name="infoList">
                    <tr><td colspan="12">暂无数据</td></tr>
                </empty>
            </table>
            <div style="text-align: center;">{$page}</div>
        </div>
    </body>


    <div class="bindingCardLayer" style="display: none;">
        <div class="container" style="width: 370px;margin-left: 0px;">
            <div class="row">
                <form method="post" action="#" class="form-horizontal" style="margin-top: 20px;">
                    <div class="form-group">
                        <label for="card_num" class="col-sm-4 control-label">IC卡编号</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="card_num" name="card_num" value="{$userInfo.card_num}" placeholder="请输入IC卡面编号">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</html>