<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        {$Think.const.ADMIN_META}{$Think.const.ADMIN_CSS}{$Think.const.ADMIN_COMPATIBLE}{$Think.const.ADMIN_JS}{$Assigndata}
        <link rel="stylesheet" href="/Public/admin/css/common.css">
        <script type="text/javascript" src="/Public/admin/js/common.js"></script>
        <script type="text/javascript">
            $(function () {
                $('.main table').css({'width': '100%'});
                $('.main table').attr({'border': '1'});
                $('.main').html(img_reset_detail($('.main').html()));
                $('.main img').each(function () {
                    $(this).css({'width': '95%'});
                });
            });
        </script>
    </head>
    <body>
        <div class="container" style="width:98%;">
            <div class="detail_div">
                <div class="row">
                    <div class="content">
                        <h1>{$activ.title}</h1>
                        <div class="time">
                            发布时间：{$activ.add_time}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            发布人：{$activ.usr}</br>
                        </div>
                        <div>
                            <table class="table table-bordered font14">
                                <tr>
                                    <td>活动积分</td>
                                    <td>{$activ.integral}分</td>
                                    <td>签到次数</td>
                                    <td>{$activ.signin_time}次</td>
                                </tr>
                                <tr>
                                    <td>发起人</td>
                                    <td>{$activ.initiator}</td>
                                    <td>联系人</td>
                                    <td>{$activ.link_name}：{$activ.link_tel}</td>
                                </tr>
                                <tr>
                                    <td>活动时间</td>
                                    <td>{$activ.start_time}</td>
                                    <td>活动地点</td>
                                    <td>{$activ.address}</td>
                                </tr>

                            </table>
                        </div>
                        <div class="main">
                            {$activ.content}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="attach_list">
                        <div class="model_title">活动相册</div>
                        <notempty name="imgInfo">
                            <foreach name="imgInfo" item="v" key="k">
                                <div class="list_header" style="margin-left: 75px;margin-bottom: 5px;margin-top:20px;float: left;">
                                    <img src="/{$v.file_path}" style="width: 200px; height: 200px; border: 1px solid #ccc;"/>
                                </div>
                            </foreach>
                        </notempty>
                        <empty name="imgInfo">
                            <div class="comment_content">暂无图片</div>
                        </empty>
                    </div>
                </div>
                <div class="row">
                    <div class="attach_list">
                        <div class="model_title">评论列表</div>
                        <!--                        <notempty name="activComm">
                                                    <ul class="comment_content">
                                                        <foreach name="activComm" item="v" key="k">
                                                            <li>
                                                                <div class="list_header">
                                                                    <span style="font-size:15px; color:#1C77F6">{$v.usr}</span>
                                                                    <span style="font-size:11px; color:#999;">{$v.add_time}</span>
                                                                </div>
                                                                <div class="list_content">
                                                                    <p>{$v.content}</p>
                                                                </div>
                                                            </li>
                                                        </foreach>
                                                    </ul>
                                                </notempty>
                                                <empty name="activComm">
                                                    <ul class="comment_content">暂无评论</ul>
                                                </empty>-->
                    </div>
                    <notempty name="activComm">
                        <ul class="comment_content">
                            <foreach name="activComm" item="v" key="k">
                                <li>
                                    <div class="list_header">
                                        <span style="font-size:15px; color:#1C77F6">{$v.usr}</span>
                                        <span style="font-size:11px; color:#999;">{$v.add_time}</span>
                                    </div>
                                    <div class="list_content">
                                        <p>{$v.content}</p>
                                    </div>
                                </li>
                            </foreach>
                        </ul>
                    </notempty>
                    <empty name="activComm">
                        <ul class="comment_content">暂无评论</ul>
                    </empty>
                </div>

            </div>
        </div>
    </body>
</html>