<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        {$Think.const.ADMIN_META}{$Think.const.ADMIN_CSS}{$Think.const.ADMIN_COMPATIBLE}{$Think.const.ADMIN_JS}{$Assigndata}
        <link rel="stylesheet" href="/Public/Plugin/bootstrap/css/bootstrap-treeview.css">
        <link rel="stylesheet" href="/Public/admin/css/common.css">
        <script type="text/javascript" src="/Public/Plugin/bootstrap/js/bootstrap-treeview.js"></script>
        <script type="text/javascript" src="/Public/Plugin/layer-v3.0.2/layer.js"></script>
        <script type="text/javascript" src="/Public/admin/js/common.js"></script>
        <script type="text/javascript" src="/Public/admin/js/activity/activInfo.js"></script>
    </head>
    <body>        
        <div class="table_content">
            <div class="panel panel-success">
                <div class="panel-body">
                    <div class="col-sm-4"><b>{$activInfo.title}</b></div>
                    <div class="col-sm-4 text-center">活动收藏人数：{$activInfo.like_num}</div>
                    <div class="col-sm-4 text-right">
                        活动签到人数：
                        <foreach name="signInfo" item="vvv" key="kkk">
                            {$vvv.sign_sum}&nbsp;/&nbsp;
                        </foreach>
                    </div>
                </div>
            </div>
            <notempty name="signInfo">
                <foreach name="signInfo" item="v" key="k">

                    <div class="panel panel-danger">
                        <div class="panel-body">
                            <div class="col-sm-6"><h4>第【{$v.sign_num}】次签到,本次签到可获得积分【{$v.sign_integral}】分</h4></div>

                            <div class="col-sm-6 text-right">
                                <if condition="$v.sign_status eq 0">
                                    <button type="button" class="btn btn-primary">尚未开启</button>
                                    <else/>
                                    <if condition="$v.sign_status eq 1"><button type="button" class="btn btn-success">正在签到</button>
                                        <else/><button type="button" class="btn btn-warning">关闭签到</button>
                                    </if>
                                </if>

                            </div>
                        </div>
                        <if condition="$v.sign_status eq 0">
                            <else/>
                            <table class="table table-hover font12">
                                <tr class="tr">
                                    <th>序号</th>
                                    <th>用户名称</th>
                                    <th>获得积分</th>
                                    <th>签到方式</th>
                                    <th>签到时间</th>
                                </tr>
                                <foreach name="v.data" item="vv" key="kk">
                                    <tr class="tr">
                                        <td>{$kk+1}</td>
                                        <td>{$vv.realname}</td>
                                        <td>{$vv.sign_integral}</td>
                                        <td>
                                    <if condition="$vv.sign_type eq 0">
                                        <span class="label label-info">二维码</span>
                                        <else/><span class="label label-info">实体卡</span>
                                    </if>
                                        </td>
                                        <td>{$vv.add_time}</td>
                                    </tr>
                                </foreach>
                            </table>

                        </if>

                    </div>
                </foreach>
            </notempty>
            
        </div>
    </body>
</html>